<ng-form name="referralPatientDetailsForm">
    <div class="panel form-panel">
        <div class="row">
            <div class="col-sm-6">
                <ccdb-form-text label="Last name" value="patient.lastName"></ccdb-form-text>
                <ccdb-form-text label="First name" value="patient.firstName"></ccdb-form-text>
                <ccdb-form-select label="Race" options="races" value="patient.race"></ccdb-form-select>
                <ccdb-form-select label="Gender" options="genders" value="patient.gender"></ccdb-form-select>
                <ccdb-form-date label="Birth date" ng-model="patient.birthDate" ></ccdb-form-date>
            </div>
            <div class="col-sm-6">
                <ccdb-form-text label="ICU registrar/Doctor" value="patient.referral.icuRegistrar"></ccdb-form-text>
                <ccdb-form-text label="ICU consultant" value="patient.referral.icuConsultant"></ccdb-form-text>
                <ccdb-form-date-and-time label="Entry time and date" ng-model="patient.referral.entryDateTime"></ccdb-form-date-and-time>
                <ccdb-form-date-and-time label="Time patient seen by ICU" ng-model="patient.referral.timePatientSeenByICU"></ccdb-form-date-and-time>
            </div>
        </div>
    </div>
</ng-form>

