<ng-form name="admissionInfoForm">
    <div class="panel form-panel">
        <div class="row">
            <div class="col-sm-6">
                <ccdb-form-date label="Admission entry date and time" ng-model="patient.admission.admissionEntryDateTime"></ccdb-form-date><!-- this can be hidden. record when they hit save -->
                <ccdb-form-date label="Admission date and time" ng-model="patient.admission.admissionDateTime"></ccdb-form-date>
                <ccdb-form-text label="Hospital admitted from" value="patient.admission.admittedFrom"></ccdb-form-text>
                <ccdb-form-text label="Days in Hospital before ICU" value="patient.admission.numOfdaysInhospitalBeforeICU"></ccdb-form-text>
            </div>
            <div class="col-sm-6">
                <ccdb-form-text label="Admitting doctor" value="patient.admission.admittingDoctor"></ccdb-form-text>
                <ccdb-form-text label="Admitting consultant" value="patient.admission.admittingConsultant"></ccdb-form-text>
            </div>
        </div>
    </div>
</ng-form>