<div class="panel form-panel">
    <div class="row">
        <div class="col-sm-6">
            <ccdb-form-number label="Temperature" placeholder="&deg;C" value="score.temperature"></ccdb-form-number>
            <ccdb-form-number label="Systolic blood pressure" placeholder="mm Hg" value="score.systolicPressure"></ccdb-form-number>
            <ccdb-form-number label="Diastolic blood pressure" placeholder="mm Hg" value="score.diastolicPressure"></ccdb-form-number>
            <ccdb-form-number label="Heart rate" placeholder="beats/minute" value="score.heartRate"></ccdb-form-number>
            <ccdb-form-number label="Saturation" value="score.saturation" ng-if="!referral && !apache"></ccdb-form-number>
            <ccdb-form-number label="Respiratory heart rate" placeholder="breaths/minute" value="score.respiratoryRate" ng-if="!referral"></ccdb-form-number>
            <ccdb-form-number label="Urine output volume" placeholder="mls" value="score.urineOutput" ng-if="!admission"></ccdb-form-number>
            <ccdb-form-number label="Urine output hours" placeholder="hrs" value="score.urineOutputHours" ng-if="!admission"></ccdb-form-number>
            <ccdb-form-number label="Glucose" placeholder="mmol/L" value="score.glucose" ng-if="!referral && !admission"></ccdb-form-number>
            <ccdb-form-select label="Eye opening" options="$parent.eyeOpening" value="score.eyeOpening"></ccdb-form-select>
            <ccdb-form-select label="Verbal response" options="$parent.verbalResponse" value="score.verbalResponse"></ccdb-form-select>
            <ccdb-form-select label="Motor response" options="$parent.motorResponse" value="score.motorResponse"></ccdb-form-select>
            <!-- this one is a calculated, we still want to write it to the database, but would be good to sum the three above automagically -->
            <ccdb-form-number label="Glasgow coma scale" value="score.glasgowComaScale"></ccdb-form-number>
            <ccdb-form-select label="Sedated" options="$parent.$parent.yesNo" value="score.sedated" ng-if="!referral && !apache"></ccdb-form-select>
            <ccdb-form-select label="Airway" options="$parent.$parent.airway" value="score.airway" ng-if="!referral && !apache"></ccdb-form-select>
            <ccdb-form-number label="Pupils" value="score.pupils" ng-if="!referral"></ccdb-form-number>
            <ccdb-form-number label="Ventilated" value="score.ventilated" ng-if="!referral"></ccdb-form-number>
            <ccdb-form-number label="Thrombolytic therapy" value="score.thrombolyticTherapy" ng-if="!referral"></ccdb-form-number>
        </div>
        <div class="col-sm-6">
            <ccdb-form-number label="Haematocrit" placeholder="%" value="score.haematocrit" ng-if="!admission"></ccdb-form-number>
            <ccdb-form-number label="WBC" placeholder="x103/mm3" value="score.wBC" ng-if="!admission"></ccdb-form-number>
            <ccdb-form-number label="Sodium" placeholder="mEq/L" value="score.sodium" ng-if="!admission"></ccdb-form-number>
            <ccdb-form-number label="Potassium" placeholder="mEq/L" value="score.potassium" ng-if="!referral"></ccdb-form-number>
            <ccdb-form-number label="Corr Calcium" placeholder="mmol/l" value="score.corrCalcium" ng-if="!referral"></ccdb-form-number>
            <ccdb-form-number label="Urea" placeholder="mmol/l" value="score.urea" ng-if="!admission"></ccdb-form-number>
            <ccdb-form-number label="Creatinine" placeholder="mg/dL" value="score.creatinine" ng-if="!admission"></ccdb-form-number>
            <ccdb-form-number label="Albumin" placeholder="g/l" value="score.albumin" ng-if="!admission"></ccdb-form-number>
            <ccdb-form-number label="Bilirubin" placeholder="umol/l" value="score.bilirubin" ng-if="!admission"></ccdb-form-number>
            <ccdb-form-number label="Glucose" placeholder="mmol/L" value="score.glucose"></ccdb-form-number>
            <ccdb-form-number label="INR" value="score.iNR" ng-if="!referral && !admission"></ccdb-form-number>
            <ccdb-form-number label="FiO2" placeholder="%" value="score.fiO2"></ccdb-form-number>
            <ccdb-form-number label="PH" value="score.pH"></ccdb-form-number>
            <ccdb-form-number label="pO2" placeholder="kPa OR mmHg" value="score.pO2"></ccdb-form-number>
            <ccdb-form-number label="PCO2" placeholder="kPa" value="score.pCO2"></ccdb-form-number>
            <ccdb-form-number label="Lactate" value="score.lactate"></ccdb-form-number>
            <ccdb-form-number label="HCO3" placeholder="mEq/L" value="score.hCO3" ng-if="!referral"></ccdb-form-number>
            <ccdb-form-number label="Base excess" value="score.baseExcess" ng-if="!referral"></ccdb-form-number>
            <ccdb-form-number label="Bicarbonate" value="score.bicarbonate" ng-if="!referral && !apache"></ccdb-form-number>
            <ccdb-form-number label="Current antibiotic therapy in ward" value="score.currentAntibioticTherapyInWard" ng-if="!referral && !apache"></ccdb-form-number>
            <ccdb-form-number label="Duration of antibiotics" value="score.durationOfAntibiotics" ng-if="!referral && !apache"></ccdb-form-number>
        </div>
    </div>
</div>