<div class="container">
  <div class="form-reset">
      <h2 class="form-reset-heading">Reset your password</h2>
      <label for="username" class="sr-only">username</label>
      <input type="username" class="form-control" id="username" placeholder="Username (email address)" ng-model="user.username">
      <div ng-show="message" class="form-reset-message">{{message}}</div>
      <button type="button" ng-hide="message" ng-click="reset()" class="btn btn-lg btn-primary btn-block">Reset</button>
  </div>
</div>