<div class="row">
    <div class="small-10 columns">
        <form>
            <div class="sections">
                <section>
                  <h3>Patient Details</h3>
                    <ices-form-text label="Last name" value="patient.lastName"></ices-form-text>
                    <ices-form-text label="First name" value="patient.firstName"></ices-form-text>
                    <ices-form-select label="Race" options="races" value="patient.race"></ices-form-select>
                    <ices-form-select label="Gender" options="genders" value="patient.gender"></ices-form-select>
                    <ices-form-date label="Birth date" ng-model="patient.birthDate"></ices-form-date>
                    <a ng-click="save(patient)" class="small hollow button">Save</a>
                </section>
                <section>
                <section>
                  <h3>Referral Details</h3>
                    <ices-form-select label="Roots" options="roots" value="patient.referral.emergencyVsElective"></ices-form-select>
                    <ices-form-text label="ICU registrar/Doctor" value="patient.referral.icuRegistrar"></ices-form-text>
                    <ices-form-text label="ICU consultant" value="patient.referral.icuConsultant"></ices-form-text>
                    <ices-form-date label="Entry time and date" ng-model="patient.referral.entryTimeAndDate"></ices-form-date>
                    <ices-form-date label="Referral date" ng-model="patient.referral.referralDate"></ices-form-date>
                    <ices-form-date label="Time patient seen by ICU" ng-model="patient.referral.timePatientSeenByICU" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-date>
                    <ices-form-select label="Operative status at time of referral" options="operativeStatusAtTimeOfReferral" value="patient.referral.operativeStatusAtTimeOfReferral" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-select>
                    <ices-form-text label="Base discipline referring" value="patient.referral.baseDisciplineReferring"></ices-form-text>
                    <ices-form-text label="Base discipline consultant" value="patient.referral.baseDisciplineConsultant"></ices-form-text>
                    <ices-form-text label="Referring doctor" value="patient.referral.referringDoctor"></ices-form-text>
                    <ices-form-text label="Discipline of referring doctor" value="patient.referral.disciplineOfReferringDoctor"></ices-form-text>
                    <ices-form-text label="Referring hospital" value="patient.referral.referringHospital" ng-show="patient.referral.emergencyVsElective =='Emergency'"></ices-form-text>
                    <ices-form-text label="Referral hospital" value="patient.referral.referralHospital" ng-show="patient.referral.emergencyVsElective =='Emergency'"></ices-form-text>
                    <ices-form-select label="Diagnosis" options="diagnosis" value="patient.referral.diagnosis" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-select>
                    <ices-form-select label="Patient location" options="patientLocation" value="patient.referral.patientLocation" ng-show="patient.referral.emergencyVsElective == 'Elective'"></ices-form-select>
                    <ices-form-select label="Level of care required" options="levelsOfCare" value="patient.referral.levelOfCareRequired" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-select>
                    <ices-form-select label="Reason of referral to ICU" options="reasonOfReferralToICU" value="patient.referral.reasonOfReferralToICU" ng-show="patient.referral.emergencyVsElective == 'Elective'"></ices-form-select>
                    <ices-form-textarea label="Planned operation" value="patient.referral.plannedOperation" ng-show="patient.referral.emergencyVsElective == 'Elective'"></ices-form-textarea>
                    <ices-form-textarea label="Planned operation reason" value="patient.referral.reasonForOperation" ng-show="patient.referral.emergencyVsElective == 'Elective'"></ices-form-textarea>
                    <ices-form-date label="Date operation planned" ng-model="patient.referral.dateOperationPlanned" ng-show="patient.referral.emergencyVsElective == 'Elective'"></ices-form-date>
                    <ices-form-text label="Diagnosis details" value="patient.referral.diagnosisDetails" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-multiselect label="Comorbidities" options="comorbidities" value="patient.referral.comorbidities"></ices-form-multiselect>
                    <a ng-click="save(patient)" class="small hollow button">Save</a>
                </section>
                <section>
                  <h3>Referral</h3>
                    <ices-form-select label="Reason of referral to ICU" options="reasonOfReferralToICU" value="patient.referral.reasonOfReferralToICU" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-select>
                    <ices-form-select label="Is the referral for a complication of" options="referralForComplicationOf" value="patient.referral.referralForComplicationOf" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-select>
                    <ices-form-select label="Current patient location" options="CurrentPatientLocation" value="patient.referral.CurrentPatientLocation" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-select>
                    <ices-form-text label="Number of days in hospital" value="patient.referral.numberOfDaysInHospital" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="Is the patient currently ventilated" value="patient.referral.patientCurrentlyVentilated" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="Was this patient in ICU in the previous 48 hours" value="patient.referral.wasThisPatientInIcuInThePrevious48Hours" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-select label="SCCM" options="sCCM" value="patient.referral.sCCM" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-select>
                    <ices-form-select label="Level of care required" options="levelOfCareRequired" value="patient.referral.levelOfCareRequired" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-select>
                    <ices-form-select label="Decision" options="decision" value="patient.referral.decision" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-select>
                    <ices-form-text label="Decision reason" value="patient.referral.decisionReason" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <a ng-click="save(patient)" class="small hollow button">Save</a>
                </section>
                <section>
                  <h3>Patient status</h3>
                    <ices-form-text label="Temperature (&deg;C)" value="patient.scores[0].temperature" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="Systolic blood pressure (mmHg)" value="patient.scores[0].systolicPressure" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="Diastolic blood pressure (mmHg)" value="patient.scores[0].diastolicPressure" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="Heart rate (bpm)" value="patient.scores[0].heartRate" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="Urine output (mls/hr)" value="patient.scores[0].urineOutput" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-select label="Eye opening" options="eyeOpening" value="patient.scores[0].eyeOpening" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-select>
                    <ices-form-select label="Verbal response" options="verbalResponse" value="patient.scores[0].verbalResponse" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-select>
                    <ices-form-select label="Motor response" options="motorResponse" value="patient.scores[0].motorResponse" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-select>
                    <ices-form-text label="Glasgow coma scale" value="patient.scores[0].glasgowComaScale" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="Haematocrit (%)" value="patient.scores[0].haematocrit" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="WBC (x103/mm3)" value="patient.scores[0].wBC" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="Sodium (mEq/L)" value="patient.scores[0].sodium" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="Urea (mmol/l)" value="patient.scores[0].urea" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="Creatinine (mg/dL)" value="patient.scores[0].creatinine" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="Albumin (g/l)" value="patient.scores[0].albumin" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="Bilirubin (umol/l)" value="patient.scores[0].bilirubin" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="Glucose (mmol/L)" value="patient.scores[0].glucose" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="FiO2 (%)" value="patient.scores[0].fiO2" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="PH (%)" value="patient.scores[0].pH" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="PCO2 (kPa)" value="patient.scores[0].pCO2" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="pO2 (kPa)" value="patient.scores[0].pO2" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="Lactate" value="patient.scores[0].lactate" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <a ng-click="save(patient)" class="small hollow button">Save</a>
                <section>
                  <h3>Assessment details</h3>
                    <ices-form-text label="History" value="patient.referral.history" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="Examination" value="patient.referral.examination" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <ices-form-text label="Management plan" value="patient.referral.managementPlan" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ices-form-text>
                    <a ng-click="save(patient)" class="small hollow button" >Save</a>
                </section>
                <section>
                  <h3>Summary note outcome</h3>
                    <ices-form-select label="Final outcome" options="finalOutcomeNote" value="patient.referral.finalOutcomeNote" ng-show="patient.referral.emergencyVsElective == 'Elective'"></ices-form-select>
                    <ices-form-select label="Sccm score"options="sccmScore" value="patient.referral.sccmScore" ng-show="patient.referral.emergencyVsElective == 'Elective'"></ices-form-select>
                    <ices-form-date label="Date and time" ng-model="patient.referral.dateAndTimeNote" ng-show="patient.referral.emergencyVsElective == 'Elective'"></ices-form-date>
                    <a ng-click="save(patient)" class="small hollow button">Save</a>
                </section>
                <section>
                  <h3>Referral scores</h3>
                    <ices-score-form score="patient.scores[0]" referral="true"></ices-score-form>
                    <ices-form-text label="Respiratory heart rate" value="patient.scores[0].respiratoryRate"></ices-form-text>
                    <a ng-click="save(patient)" class="small hollow button" >Save</a>
                </section>
                </section>
                <section>
                  <h3>Outcome details</h3>
                    <ices-form-date label="Outcome entry time and date" ng-model="patient.referral.outcomeEntryTimeandDate"></ices-form-date>
                    <ices-form-text label="Doctor finalising" value="patient.referral.doctorFinalising"></ices-form-text>
                    <ices-form-select label="Revised SCCCM" options="revisedScccm" value="patient.referral.revisedScccm"></ices-form-select>
                    <ices-form-textarea label="Any delay on admission" value="patient.referral.ifAcceptedAnyDelay"></ices-form-textarea>
                    <ices-form-textarea label="Reason for delay" value="patient.referral.delayReason"></ices-form-textarea>
                    <ices-form-textarea label="If accepted but never admitted" value="patient.referral.IfAcceptedButNeverAdmitted"></ices-form-textarea>
                    <ices-form-text label="Unit trasnferred to if trasnferred" value="patient.referral.unitTrasnferredToIfTrasnferred "></ices-form-text>
                    <ices-form-textarea label="The final outcome of the patient is" value="patient.referral.theFinalOutcomeOfThePatientIs"></ices-form-textarea>
                    <a ng-click="save(patient)" class="small hollow button">Save</a>
                </section>
                </section>
                <section>
                <section>
                  <h3>Admission Details</h3>
                    <ices-form-text label="Data carried over" value="patient.admission.dataCarriedOver"></ices-form-text>
                    <ices-form-text label="Patient first name" value="patient.admission.patientFirstName "></ices-form-text>
                    <ices-form-text label="Patient last name" value="patient.admission.patientLastName"></ices-form-text>
                    <ices-form-text label="Other name" value="patient.admission.patientOtherName"></ices-form-text>
                    <ices-form-date label="Date of birth" ng-model="patient.admission.dateOfBirth"></ices-form-date>
                    <ices-form-date label="Admission date and time" ng-model="patient.admission.admissionDateAndTime"></ices-form-date>
                    <ices-form-select label="Emergency vs elective" options="roots" value="patient.admission.roots"></ices-form-select>
                    <ices-form-text label="Hospital admitted from" value="patient.admission.admittedFrom"></ices-form-text>
                    <ices-form-text label="Days in Hospital before ICU" value="patient.admission.numOfdaysInhospitalBeforeICU"></ices-form-text>
                    <ices-form-text label="Admitting doctor" value="patient.admission.admittingDoctor"></ices-form-text>
                    <ices-form-text label="Admitting consultant" value="patient.admission.admittingConsultant"></ices-form-text>
                    <a ng-click="save(patient)" class="small hollow button">Save</a>
                  </section>
                  <section>
                    <h3>condition on arrival</h3>
                    <ices-form-date label="Time of arrival" ng-model="patient.admission.timeOfArrival"></ices-form-date>
                    <ices-form-text label="Temperature (&deg;C)" value="patient.scores[1].temperature"></ices-form-text>
                    <ices-form-text label="Systolic blood pressure (mm Hg)" value="patient.scores[1].systolicPressure"></ices-form-text>
                    <ices-form-text label="Diastolic blood pressure (mm Hg)" value="patient.scores[1].diastolicPressure"></ices-form-text>
                    <ices-form-text label="Heart rate (beats/minute)" value="patient.scores[1].heartRate"></ices-form-text>
                    <ices-form-text label="Saturation" value="patient.scores[1].saturation"></ices-form-text>
                    <ices-form-text label="Respiratory heart rate (breaths/minute)" value="patient.scores[1].respiratoryRate"></ices-form-text>
                    <ices-form-text label="Fio2 (%)" value="patient.scores[1].fiO2"></ices-form-text>
                    <ices-form-text label="Sedated" value="patient.scores[1].sedated"></ices-form-text>
                    <ices-form-text label="Airway" value="patient.scores[1].airway"></ices-form-text>
                    <ices-form-text label="Haematocrit (%)" value="patient.scores[1].haematocrit"></ices-form-text>
                    <ices-form-text label="Glucose (mmol/L)" value="patient.scores[1].glucose"></ices-form-text>
                    <ices-form-text label="Lactate" value="patient.scores[1].lactate"></ices-form-text>
                    <ices-form-text label="PH" value="patient.scores[1].pH"></ices-form-text>
                    <ices-form-text label="PCO2 (kPa)" value="patient.scores[0].pCO2"></ices-form-text>
                    <ices-form-text label="pO2 (kPa)" value="patient.scores[1].pO2"></ices-form-text>
                    <ices-form-text label="Base excess" value="patient.scores[1].baseExcess"></ices-form-text>
                    <ices-form-text label="Bicarbonate" value="patient.scores[1].bicarbonate"></ices-form-text>
                    <ices-form-text label="Current antibiotic therapy in ward" value="patient.scores[1].currentAntibioticTherapyInWard"></ices-form-text>
                    <ices-form-select label="Eye opening" options="eyeOpening" value="patient.scores[1].eyeOpening"></ices-form-select>
                    <ices-form-select label="Verbal response" options="verbalResponse" value="patient.scores[1].verbalResponse"></ices-form-select>
                    <ices-form-select label="Motor response" options="motorResponse" value="patient.scores[1].motorResponse"><ices-form-select>

                    <a ng-click="save(patient)" class="small hollow button">Save</a>
                  </section>
                  <!--section>
                    <h3>Condition on Arrival</h3>
                      <ices-form-date label="Time of arrival" ng-model="patient.admission.timeOfArrival"></ices-form-date>
                      <ices-form-text label="Temperature (&deg;C)" value="patient.scores[1].temperature"></ices-form-text>
                      <ices-form-text label="Systolic blood pressure (mm Hg)" value="patient.scores[1].systolicPressure"></ices-form-text>
                      <ices-form-text label="Diastolic blood pressure (mm Hg)" value="patient.scores[1].diastolicPressure"></ices-form-text>
                      <ices-form-text label="Heart rate (beats/minute)" value="patient.scores[1].heartRate"></ices-form-text>
                      <ices-form-text label="Saturation" value="patient.scores[1].saturation"></ices-form-text>
                      <ices-form-text label="Respiratory heart rate (breaths/minute)" value="patient.scores[1].respiratoryRate"></ices-form-text>
                      <ices-form-text label="Fio2 (%)" value="patient.scores[1].fiO2"></ices-form-text>
                      <ices-form-select label="Eye opening" options="eyeOpening" value="patient.scores[1].eyeOpening"></ices-form-select>
                      <ices-form-select label="Verbal response" options="verbalResponse" value="patient.scores[1].verbalResponse"></ices-form-select>
                      <ices-form-select label="Motor response" options="motorResponse" value="patient.scores[1].motorResponse"><ices-form-select>

                      <ices-form-text label="Glasgow coma scale" value="patient.scores[1].glasgowComaScale"></ices-form-text>

                      <ices-form-text label="Sedated" value="patient.scores[1].sedated"></ices-form-text>

                      <ices-form-text label="Airway" value="patient.scores[1].airway"></ices-form-text>

                      <ices-form-text label="Haematocrit (%)" value="patient.scores[1].haematocrit"></ices-form-text>
                      <ices-form-text label="Glucose (mmol/L)" value="patient.scores[1].glucose"></ices-form-text>
                      <ices-form-text label="Lactate" value="patient.scores[1].lactate"></ices-form-text>
                      <ices-form-text label="PH" value="patient.scores[1].pH"></ices-form-text>
                      <ices-form-text label="PCO2 (kPa)" value="patient.scores[0].pCO2"></ices-form-text>
                      <ices-form-text label="pO2 (kPa)" value="patient.scores[1].pO2"></ices-form-text>
                      <ices-form-text label="Base excess" value="patient.scores[1].baseExcess"></ices-form-text>
                      <ices-form-text label="Bicarbonate" value="patient.scores[1].bicarbonate"></ices-form-text>
                      <ices-form-text label="Current antibiotic therapy in ward" value="patient.scores[1].currentAntibioticTherapyInWard"></ices-form-text>
                      <ices-form-text label="Duration of antibiotics" value="patient.scores[1].durationOfAntibtioics"></ices-form-text>

                      <a ng-click="save(patient)" class="small hollow button">Save</a>

                  </section-->
                  <section>
                    <h3>Operative Details</h3>
                      <ices-form-select label="Operative Details" options="operativeDetails" value="patient.admission.operativeDetails"></ices-form-select>
                      <ices-form-date label="Date and time of surgery" ng-model="patient.admission.surgeryDateAndTime"></ices-form-date>
                      <ices-form-text label="Operation performed" value="patient.admission.operationPerformed"></ices-form-text>
                      <ices-form-text label="Operative findings" value="patient.admission.operativeFindings"></ices-form-text>
                      <ices-form-textarea label="Operative Plan" value="patient.admission.operativePlan"></ices-form-textarea>
                      <ices-form-text label="Duration of operation" value="patient.admission.durationOfOperation"></ices-form-text>
                      <ices-form-text label="Anaesthesia" value="patient.admission.anaesthesia"></ices-form-text>
                      <ices-form-text label="Grade of laryngoscopy" value="patient.admission.gradeOfLaryngoscopy"></ices-form-text>
                      <ices-form-text label="Duration of anaesthesia" value="patient.admission.durationOfAnaesthesia"></ices-form-text>
                      <ices-form-text label="Antibiotic" value="patient.admission.antibiotics"></ices-form-text>
                      <ices-form-text label="Intra-operative total volumes" value="patient.admission.intraOperativeTotalVolumes"></ices-form-text>
                      <ices-form-text label="Blood loss" value="patient.admission.bloodLoss"></ices-form-text>
                      <ices-form-text label="Urine output (mls/hr)" value="patient.admission.urineOutput"></ices-form-text>
                      <ices-form-text label="Crystalloid volume" value="patient.admission.crystalloidVolume"></ices-form-text>
                      <ices-form-text label="Colloid volume" value="patient.admission.colloidVolume"></ices-form-text>
                      <ices-form-text label="Packed cell" value=" patient.admission.packedCells"></ices-form-text>
                      <ices-form-text label="Freeze dried plasma" value="patient.admission.freezeDriedPlasma"></ices-form-text>
                      <ices-form-text label="Platelets" value="patient.admission.platelets"></ices-form-text>
                      <ices-form-text label="Cruoprecipitate" value="patient.admission.cruoprecipitate"></ices-form-text>
                      <a ng-click="save(patient)" class="small hollow button">Save</a>
                  </section>
                  <section>
                    <h3>Admission plan</h3>
                      <ices-form-text label="Airway and breathing" value="patient.admission.airwayAndBreathing"></ices-form-text>
                      <ices-form-text label="Circulation" value="patient.admission.circulation"></ices-form-text>
                      <ices-form-text label="Renal and electrolytes" value="patient.admission.renalAndElectrolytes"></ices-form-text>
                      <ices-form-text label="Fluids and feeds" value="patient.admission.fluids"></ices-form-text>
                      <ices-form-text label="Antibiotics" value="patient.admission.antibiotics"></ices-form-text>
                      <ices-form-text label="Lines" value="patient.admission.lines"></ices-form-text>
                      <ices-form-text label="Analgesia And Sedation" value="patient.admission.analgesiaAndSedation"></ices-form-text>
                      <ices-form-text label="Thrombosis Management" value="patient.admission.thrombosisManagement"></ices-form-text>
                      <ices-form-text label="Ulcer prophylaxis" value="patient.admission.ulcerProphylaxis"></ices-form-text>
                      <ices-form-text label="Other" value="patient.admission.other"></ices-form-text>
                      <a ng-click="save(patient)" class="small hollow button">Save</a>
                  </section>
                  <section>
                    <h3>Admission summary notes</h3>
                      <ices-form-textarea label="Admission summary notes" value="patient.admission.admissionSummaryNotes"></ices-form-textarea>
                      <a ng-click="save(patient)" class="small hollow button">Save</a>
                  </section>
                  <section>
                    <h3>Admission History</h3>
                      <ices-form-textarea label="Past medical history" value="patient.admission.pastMedicalHistory"></ices-form-textarea>
                      <ices-form-textarea label="Past surgical history" value="patient.admission.pastSurgicalHistory"></ices-form-textarea>
                      <ices-form-textarea label="Chronic medications" value="patient.admission.medications"></ices-form-textarea>
                      <a ng-click="save(patient)" class="small hollow button">Save</a>
                  </section>
                  <section>
                    <h3>Admission scores</h3>
                      <ices-score-form score="patient.scores[1]" admission="true"></ices-score-form>

                      <h3>Create a new score</h3>
                        <form ng-click="scoreAdd()">
                            <input type="text" ng-model="scoreInput" size="50" placeholder="Add new score">
                            <input type="submit" value="Add new score">
                        </form>

                          <br>

                          <div ng-repeat="x in scoreList">
                              <input type="checkbox" ng-model="x.done"> <span ng-bind="x.scoreText"></span>
                          </div>

                          <p><button ng-click="remove()">Remove score</button></p>

                          <script>
                          var app = angular.module('myApp', []);
                          app.controller('scoreCtrl', function($scope) { //a todoCtrl is what controlls the scope
                              $scope.scoreList = [{scoreText:'New score', done:false}];

                              $scope.scoreAdd = function() {
                                  $scope.scoreList.push({scoreText:$scope.scoreInput, done:false});
                                  $scope.scoreInput = "";
                              };

                              $scope.remove = function() {
                                  var oldList = $scope.scoreList;
                                  $scope.scoreList = [];
                                  angular.forEach(oldList, function(x) {
                                      if (!x.done) $scope.scoreList.push(x);
                                  });
                              };
                          });
                          </script>

                      <a ng-click="save(patient)" class="small hollow button">Save</a>
                  </section>
                  <section>
                    <h3>Discharge</h3>
                      <ices-form-date label="Discharge date" ng-model="patient.discharge.dischargeDate"></ices-form-date>
                      <ices-form-select label="Discharge status" options="dischargeStatuses" value="patient.discharge.dischargeStatus"></ices-form-select>
                      <ices-form-textarea label="Comments" value="patient.discharge.comments"></ices-form-textarea>
                      <a ng-click="save(patient)" class="small hollow button">Save</a>
                  </section>
                </section>
            </div>
        </form>
    </div>
</div>
