<div class="form-group">
    <label for="right-label" class="form-adjacent-group-label">{{ label }}</label>
    <div class="form-adjacent-group">
    <input type="number"
           class="form-control form-adjacent-group-align-left"
           id="left-label"
           placeholder="{{ placeholder }}"
           ng-model="$parent.patient.apacheLow[field]"
           ng-required="required"
           autocomplete="off"
    >
    <input type="number"
           class="form-control form-adjacent-group-align-right"
           id="right-label"
           placeholder="{{ placeholder }}"
           ng-model="$parent.patient.apacheHigh[field]"
           ng-required="required"
           autocomplete="off"
    >
    </div>
</div>