<div class="form-group">
    <label for="right-label" class="form-adjacent-group-label">{{ label }}</label>
    <div class="form-adjacent-group">
        <select
                id="left-label"
                class="form-control form-adjacent-group-align-left" ng-model="$parent.patient.apacheLow[field]"
                ng-required="required==true || (required==undefined && !optional)"
        >
        <option ng-repeat="option in options">{{ option }}</option>
        </select>
        <select
                id="right-label"
                class="form-control form-adjacent-group-align-right"
                ng-model="$parent.patient.apacheHigh[field]"
                ng-required="required==true || (required==undefined && !optional)"
        >
        <option ng-repeat="option in options">{{ option }}</option>
        </select>
    </div>
</div>
