<div class="form-group">
    <label for="right-label">{{ label }}</label>
    <div id="right-label" class="form-dateAndTime">
        <div class="form-dateAndTime-time">
            <p class="form-dateAndTime-label">Time</p>
            <select class="form-dateAndTime-hour" ng-model="hour" ng-change="modelChanged()" ng-options="h as h for h in hours" required></select>
            <p class="form-dateAndTime-colon"> :</p>
            <select class="form-dateAndTime-minute"ng-model="minute" ng-change="modelChanged()" ng-options="m as m for m in minutes" required></select>
        </div>
        <p class="form-dateAndTime-label">Date</p>
        <select class="form-dateAndTime-day" ng-model="date" ng-change="modelChanged()" ng-options="d as d for d in dates" required></select>
        <select class="form-dateAndTime-month" ng-model="month" ng-change="modelChanged()" ng-options="m.key as m.value for m in months" required></select>
        <select class="form-dateAndTime-year" ng-model="year" ng-change="modelChanged()" ng-options="y as y for y in years" required></select>
        <a class="btn btn-default btn-xs noselect" ng-click="modelChanged(true)">now</a>
    </div>
</div>