<div class="form-group">
    <label for="right-label">{{ label }}</label>
    <div id="right-label" ><select ng-model="date" ng-change="modelChanged()" ng-options="d as d for d in dates" required ></select>
        <select ng-model="month" ng-change="modelChanged()" ng-options="m.key as m.value for m in months" required ></select>
        <select ng-model="year" ng-change="modelChanged()" ng-options="y as y for y in years" required ></select>

        <a class="btn btn-default noselect" ng-click="modelChanged(true)">now</a>
    </div>
</div>
