<script type="text/ng-template" id="admission/admission.details.html">
<h3>Admission Details</h3>
<div class="row">
  <div class="small-6 columns">
      <dl>
          <dt>Data carried over :</dt>
          <dd>{{ patient.admission.dataCarriedOver }}</dd>

          <dt>Patient first name :</dt>
          <dd>{{ patient.admission.patientFirstName }}</dd>

          <dt>Patient last name :</dt>
          <dd>{{ patient.admission.patientLastName }}</dd>

          <dt>Patient other name :</dt>
          <dd>{{ patient.admission.patientOtherName }}</dd>

          <dt>Date of birth :</dt>
          <dd>{{ patient.admission.dateOfBirth | date: "dd/MM/yyyy HH:mm" }}</dd>

          <dt>Admission date and time :</dt>
          <dd>{{ patient.admission.admissionDateAndTime | date: "dd/MM/yyyy HH:mm" }}</dd>

          <dt>Emergency Vs Elective :</dt>
          <dd>{{ patient.admission.roots }}</dd>

          <dt>Hospital admitted from :</dt>
          <dd>{{ patient.admission.admittedFrom }}</dd>

          <dt>Days in Hospital before ICU :</dt>
          <dd>{{ patient.admission.numOfdaysInhospitalBeforeICU }}</dd>

          <dt>Admitting doctor :</dt>
          <dd>{{ patient.admission.admittingDoctor }}</dd>

          <dt>Admitting consultant :</dt>
          <dd>{{ patient.admission.admittingConsultant }}</dd>
      </dl>
  </div>
</div>
<h3>Condition on arrival</h3>
<div class="row">
    <div class="small-6 columns">
        <dl>
          <dt>Time of arrival :</dt>
          <dd>{{ patient.admission.timeOfArrival | date: "dd/MM/yyyy HH:mm" }}</dd>

          <dt>Temperature :</dt>
          <dd>{{ patient.scores[1].temperature }} &deg;C</dd>

          <dt>Systolic pressure :</dt>
          <dd>{{ patient.scores[1].systolicPressure }} mmHg</dd>

          <dt>Diastolic pressure :</dt>
          <dd>{{ patient.scores[1].diastolicPressure }} mmHg</dd>

          <dt>Heart rate :</dt>
          <dd>{{ patient.scores[1].heartRate }} bpm</dd>

          <dt>Saturation :</dt>
          <dd>{{ patient.scores[1].saturation }} %</dd>

          <dt>Respiratory rate :</dt>
          <dd>{{ patient.scores[1].respiratoryRate }} brpm</dd>

          <dt>FiO2 :</dt>
          <dd>{{ patient.scores[1].fiO2 }} %</dd>

          <dt>Eye opening :</dt>
          <dd>{{ patient.scores[1].eyeOpening }}</dd>

          <dt>Verbal response :</dt>
          <dd>{{ patient.scores[1].verbalResponse }}</dd>

          <dt>Motor response :</dt>
          <dd>{{ patient.scores[1].motorResponse }}</dd>

          <dt>Glasgow coma scale :</dt>
          <dd>{{ patient.scores[1].glasgowComaScale }}</dd>

          <dt>Sedated :</dt>
          <dd>{{ patient.scores[1].sedated }}</dd>

          <dt>Airway :</dt>
          <dd>{{ patient.scores[1].airway }}</dd>

          <dt>Haematocrit :</dt>
          <dd>{{ patient.scores[1].haematocrit }} %</dd>

          <dt>Glucose :</dt>
          <dd>{{ patient.scores[1].glucose }} mmol/l</dd>

          <dt>Lactate :</dt>
          <dd>{{ patient.scores[1].lactate }} mmol</dd>

          <dt>pH :</dt>
          <dd>{{ patient.scores[1].pH }}</dd>

          <dt>pCO2 :</dt>
          <dd>{{ patient.scores[1].pCO2 }} kPa</dd>

          <dt>pO2 :</dt>
          <dd>{{ patient.scores[1].pO2 }} kPa</dd>

          <dt>Base excess :</dt>
          <dd>{{ patient.scores[1].baseExcess }} mmol</dd>

          <dt>Bicarbonate :</dt>
          <dd>{{ patient.scores[1].bicarbonate }} mmol/l</dd>

          <dt>Current antibiotic therapy in ward :</dt>
          <dd>{{ patient.scores[1].currentAntibioticTherapyInWard }}</dd>

          <dt>Duration of antibtioics :</dt>
          <dd>{{ patient.scores[1].durationOfAntibtioics }}</dd>
        </dl>
    </div>
</div>
<h3>Operative details</h3>
<div class="row">
  <div class="small-6 columns">
      <dl>
          <dt>Operative details :</dt>
          <dd>{{ patient.admission.operativeDetails }}</dd>

          <dt>Date and time of surgery :</dt>
          <dd>{{ patient.admission.surgeryDateAndTime | date: "dd/MM/yyyy HH:mm" }}</dd>

          <dt>Operation performed :</dt>
          <dd>{{ patient.admission.operationPerformed }}</dd>

          <dt>Operative findings :</dt>
          <dd>{{ patient.admission.operativeFindings }}</dd>

          <dt>Operative plan :</dt>
          <dd>{{ patient.admission.operativePlan }}</dd>

          <dt>Duration of operation :</dt>
          <dd>{{ patient.admission.durationOfOperation }}</dd>

          <dt>Anaesthesia :</dt>
          <dd>{{ patient.admission.anaesthesia }}</dd>

          <dt>Grade of laryngoscopy :</dt>
          <dd>{{ patient.admission.gradeOfLaryngoscopy }}</dd>

          <dt>Duration of anaesthesia :</dt>
          <dd>{{ patient.admission.durationOfAnaesthesia }}</dd>

          <dt>Antibiotic :</dt>
          <dd>{{ patient.admission.antibiotics }}</dd>

          <dt>Intra-operative total volumes :</dt>
          <dd>{{ patient.admission.intraOperativeTotalVolumes }}</dd>

          <dt>Blood loss :</dt>
          <dd>{{ patient.admission.bloodLoss }}</dd>

          <dt>Urine output :</dt>
          <dd>{{ patient.admission.urineOutput }}</dd>

          <dt>Crystalloid volume :</dt>
          <dd>{{ patient.admission.crystalloidVolume }}</dd>

          <dt>Colloid volume :</dt>
          <dd>{{ patient.admission.colloidVolume }}</dd>

          <dt>Packed cells :</dt>
          <dd>{{ patient.operative.packedCells }}</dd>

          <dt>Freeze dried plasma :</dt>
          <dd>{{ patient.admission.freezeDriedPlasma }}</dd>

          <dt>Platelets :</dt>
          <dd>{{ patient.admission.platelets }}</dd>

          <dt>Cruoprecipitate :</dt>
          <dd>{{ patient.admission.cruoprecipitate }}</dd>
      </dl>
  </div>
</div>
<h3>Admission history</h3>
  <div class="row">
      <div class="small-6 columns">
        <dl>
            <dt>Past medical history :</dt>
            <dd>{{ patient.admission.pastMedicalHistory }}</dd>

            <dt>Past surgical history :</dt>
            <dd>{{ patient.admission.pastSurgicalHistory }}</dd>

            <dt>Chronic medications :</dt>
            <dd>{{ patient.admission.medications }}</dd>
        </dl>
      </div>
  </div>
  <h3>Admission summary</h3>
  <div class="row">
    <div class="small-6 columns">
      <dl>
        <dt>Admission summary notes :</dt>
        <dd>{{ patient.admission.admissionSummaryNotes }}</dd>
      </dl>
    </div>
  </div>
<h3>Admission plan</h3>
  <div class="row">
    <div class="small-6 columns">
      <dl>
        <dt>Airway and breathing :</dt>
        <dd>{{ patient.admission.airwayAndBreathing }}</dd>

        <dt>Circulation :</dt>
        <dd>{{ patient.admission.circulation }}</dd>

        <dt>Renal and electrolytes :</dt>
        <dd>{{ patient.admission.renalAndElectrolytes }}</dd>

        <dt>Fluids and feeds :</dt>
        <dd>{{ patient.admission.fluids }}</dd>

        <dt>Antibiotics :</dt>
        <dd>{{ patient.admission.antibiotics }}</dd>

        <dt>Lines :</dt>
        <dd>{{ patient.admission.lines }}</dd>

        <dt>Analgesia And Sedation :</dt>
        <dd>{{ patient.admission.analgesiaAndSedation }}</dd>

        <dt>Thrombosis Management :</dt>
        <dd>{{ patient.admission.thrombosisManagement }}</dd>

        <dt>Ulcer prophylaxis :</dt>
        <dd>{{ patient.admission.ulcerProphylaxis }}</dd>

        <dt>Other :</dt>
        <dd>{{ patient.admission.other }}</dd>
      </dl>
    </div>
</div>
</script>
<script type="text/ng-template" id="admission/admission.form.html">
<ccdb-form-text label="Data carried over" value="patient.admission.dataCarriedOver"></ccdb-form-text>
<ccdb-form-text label="Patient first name" value="patient.admission.patientFirstName "></ccdb-form-text>
<ccdb-form-text label="Patient last name" value="patient.admission.patientLastName"></ccdb-form-text>
<ccdb-form-text label="Other name" value="patient.admission.patientOtherName"></ccdb-form-text>
<ccdb-form-date label="Date of birth" ng-model="patient.admission.dateOfBirth"></ccdb-form-date>
<ccdb-form-date label="Admission date and time" ng-model="patient.admission.admissionDateAndTime"></ccdb-form-date>
<ccdb-form-select label="Emergency vs elective" options="roots" value="patient.admission.roots"></ccdb-form-select>
<ccdb-form-text label="Hospital admitted from" value="patient.admission.admittedFrom"></ccdb-form-text>
<ccdb-form-text label="Days in Hospital before ICU" value="patient.admission.numOfdaysInhospitalBeforeICU"></ccdb-form-text>
<ccdb-form-text label="Admitting doctor" value="patient.admission.admittingDoctor"></ccdb-form-text>
<ccdb-form-text label="Admitting consultant" value="patient.admission.admittingConsultant"></ccdb-form-text>

<ccdb-form-select label="Operative Details" options="operativeDetails" value="patient.admission.operativeDetails"></ccdb-form-select>
<ccdb-form-date label="Date and time of surgery" ng-model="patient.admission.surgeryDateAndTime"></ccdb-form-date>
<ccdb-form-text label="Operation performed" value="patient.admission.operationPerformed"></ccdb-form-text>
<ccdb-form-text label="Operative findings" value="patient.admission.operativeFindings"></ccdb-form-text>
<ccdb-form-textarea label="Operative Plan" value="patient.admission.operativePlan"></ccdb-form-textarea>
<ccdb-form-text label="Duration of operation" value="patient.admission.durationOfOperation"></ccdb-form-text>
<ccdb-form-text label="Anaesthesia" value="patient.admission.anaesthesia"></ccdb-form-text>
<ccdb-form-text label="Grade of laryngoscopy" value="patient.admission.gradeOfLaryngoscopy"></ccdb-form-text>
<ccdb-form-text label="Duration of anaesthesia" value="patient.admission.durationOfAnaesthesia"></ccdb-form-text>
<ccdb-form-text label="Antibiotic" value="patient.admission.antibiotics"></ccdb-form-text>
<ccdb-form-text label="Intra-operative total volumes" value="patient.admission.intraOperativeTotalVolumes"></ccdb-form-text>
<ccdb-form-text label="Blood loss" value="patient.admission.bloodLoss"></ccdb-form-text>
<ccdb-form-text label="Urine output (mls/hr)" value="patient.admission.urineOutput"></ccdb-form-text>
<ccdb-form-text label="Crystalloid volume" value="patient.admission.crystalloidVolume"></ccdb-form-text>
<ccdb-form-text label="Colloid volume" value="patient.admission.colloidVolume"></ccdb-form-text>
<ccdb-form-text label="Packed cell" value=" patient.admission.packedCells"></ccdb-form-text>
<ccdb-form-text label="Freeze dried plasma" value="patient.admission.freezeDriedPlasma"></ccdb-form-text>
<ccdb-form-text label="Platelets" value="patient.admission.platelets"></ccdb-form-text>
<ccdb-form-text label="Cruoprecipitate" value="patient.admission.cruoprecipitate"></ccdb-form-text>

<ccdb-form-text label="Airway and breathing" value="patient.admission.airwayAndBreathing"></ccdb-form-text>
<ccdb-form-text label="Circulation" value="patient.admission.circulation"></ccdb-form-text>
<ccdb-form-text label="Renal and electrolytes" value="patient.admission.renalAndElectrolytes"></ccdb-form-text>
<ccdb-form-text label="Fluids and feeds" value="patient.admission.fluids"></ccdb-form-text>
<ccdb-form-text label="Antibiotics" value="patient.admission.antibiotics"></ccdb-form-text>
<ccdb-form-text label="Lines" value="patient.admission.lines"></ccdb-form-text>
<ccdb-form-text label="Analgesia And Sedation" value="patient.admission.analgesiaAndSedation"></ccdb-form-text>
<ccdb-form-text label="Thrombosis Management" value="patient.admission.thrombosisManagement"></ccdb-form-text>
<ccdb-form-text label="Ulcer prophylaxis" value="patient.admission.ulcerProphylaxis"></ccdb-form-text>
<ccdb-form-text label="Other" value="patient.admission.other"></ccdb-form-text>

<ccdb-form-textarea label="Admission summary notes" value="patient.admission.admissionSummaryNotes"></ccdb-form-textarea>

<ccdb-form-textarea label="Past medical history" value="patient.admission.pastMedicalHistory"></ccdb-form-textarea>
<ccdb-form-textarea label="Past surgical history" value="patient.admission.pastSurgicalHistory"></ccdb-form-textarea>
<ccdb-form-textarea label="Chronic medications" value="patient.admission.medications"></ccdb-form-textarea>


<!-- score -->
<ccdb-form-date label="Time of arrival" ng-model="patient.admission.timeOfArrival"></ccdb-form-date>
<ccdb-form-text label="Temperature (&deg;C)" value="patient.scores[1].temperature"></ccdb-form-text>
<ccdb-form-text label="Systolic blood pressure (mm Hg)" value="patient.scores[1].systolicPressure"></ccdb-form-text>
<ccdb-form-text label="Diastolic blood pressure (mm Hg)" value="patient.scores[1].diastolicPressure"></ccdb-form-text>
<ccdb-form-text label="Heart rate (beats/minute)" value="patient.scores[1].heartRate"></ccdb-form-text>
<ccdb-form-text label="Saturation" value="patient.scores[1].saturation"></ccdb-form-text>
<ccdb-form-text label="Respiratory heart rate (breaths/minute)" value="patient.scores[1].respiratoryRate"></ccdb-form-text>
<ccdb-form-text label="Fio2 (%)" value="patient.scores[1].fiO2"></ccdb-form-text>
<ccdb-form-text label="Sedated" value="patient.scores[1].sedated"></ccdb-form-text>
<ccdb-form-text label="Airway" value="patient.scores[1].airway"></ccdb-form-text>
<ccdb-form-text label="Haematocrit (%)" value="patient.scores[1].haematocrit"></ccdb-form-text>
<ccdb-form-text label="Glucose (mmol/L)" value="patient.scores[1].glucose"></ccdb-form-text>
<ccdb-form-text label="Lactate" value="patient.scores[1].lactate"></ccdb-form-text>
<ccdb-form-text label="PH" value="patient.scores[1].pH"></ccdb-form-text>
<ccdb-form-text label="PCO2 (kPa)" value="patient.scores[0].pCO2"></ccdb-form-text>
<ccdb-form-text label="pO2 (kPa)" value="patient.scores[1].pO2"></ccdb-form-text>
<ccdb-form-text label="Base excess" value="patient.scores[1].baseExcess"></ccdb-form-text>
<ccdb-form-text label="Bicarbonate" value="patient.scores[1].bicarbonate"></ccdb-form-text>
<ccdb-form-text label="Current antibiotic therapy in ward" value="patient.scores[1].currentAntibioticTherapyInWard"></ccdb-form-text>
<ccdb-form-select label="Eye opening" options="eyeOpening" value="patient.scores[1].eyeOpening"></ccdb-form-select>
<ccdb-form-select label="Verbal response" options="verbalResponse" value="patient.scores[1].verbalResponse"></ccdb-form-select>
<ccdb-form-select label="Motor response" options="motorResponse" value="patient.scores[1].motorResponse"><ccdb-form-select>
</script>
<script type="text/ng-template" id="dashboard/dashboard.html">
<div class="well">
    <ccdb-patient-list title="Referrals"
                       buttons="Edit,Admit"
                       filter='{"referral.decision": "Cannot make decision now"}'
    ></ccdb-patient-list>
    <ccdb-patient-list title="Admitted patients"
                       buttons="Edit,Discharge"
                       filter='{"referral.decision": "Accepted", "discharge.dischargeDate": null}'
    ></ccdb-patient-list>

    <div class="panel panel-default">
        <h3>Weekly Reports</h3>
        <ccdb-date-range></ccdb-date-range>
        <dl>
            <ccdb-patient-count title="Number of Referrals"
                                range-field="referral.referralDate"
                                filter='{"referral.decision": "Cannot make decision now"}'
            ></ccdb-patient-count>
            <ccdb-patient-count title="Admitted patients"
                                range-field="admission.firstAdmittedDate"
                                filter='{"referral.decision": "Accepted", "discharge.dischargeDate": null}'
            ></ccdb-patient-count>
        </dl>
    </div>
</div></script>
<script type="text/ng-template" id="discharge/discharge.form.html">
<ccdb-form-date label="Discharge date" ng-model="patient.discharge.dischargeDate"></ccdb-form-date>
<ccdb-form-select label="Discharge status" options="dischargeStatuses" value="patient.discharge.dischargeStatus"></ccdb-form-select>
<ccdb-form-textarea label="Comments" value="patient.discharge.comments"></ccdb-form-textarea>
</script>
<script type="text/ng-template" id="discharge/discharge.html">
<h3>Discharge Details</h3>
<dl>
    <dt>Discharge date :</dt>
    <dd>{{ patient.discharge.dischargeDate | date: "dd/MM/yyyy HH:mm"  || 'empty' }}</dd>

    <dt>Status :</dt>
    <dd>{{ patient.discharge.status }}</dd>

    <dt>Comments :</dt>
    <dd><pre>{{ patient.discharge.comments }}</pre></dd>
</dl>
</script>
<script type="text/ng-template" id="login/login.html">
<div ng-hide="!errorHandler.message" data-alert class="alert-box alert">
    {{errorHanlder.message}}
</div>

<div class ="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username" class="sr-only">username</label>
        <input autofocus type="username" class="form-control" id="username" placeholder="Username (email address)" ng-model="user.username">
        <label for="password" class="sr-only">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
        <button type="submit" ng-click="login()" class="btn btn-lg btn-primary btn-block">Submit</button>
        <button type="button" ng-click="reset()" class="btn btn-link pull-right form-signing-reset-btn">Forgotten your password?</button>
    </form>
</div></script>
<script type="text/ng-template" id="navigation/navigation.html">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CCDB</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/dashboard">Dashboard</a></li>
                <li><a href="#/search">Search</a></li>
                <li><a href="#/editPatient/new">New Referral</a></li>
                <li><a href="#/users">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login" ng-hide="isLoggedIn">Log In</a></li>
                <p class="navbar-text">{{loggedInUser}}</p>
                <li><a href="#/logout" ng-show="isLoggedIn" ng-click="logout()">Log Out</a></li>
                <li ng-show="online"><a><span class="round success label">Online</span></a></li>
                <li ng-hide="online"><a><span class="round alert label">Offline</span></a></li>
            </ul>
        </div>
    </div>
</nav></script>
<script type="text/ng-template" id="password/password.html">
<legend>Password Change Form</legend>

<div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password" ng-change="checkPasswords()">
    <label for="password2">Confirm Password</label>
    <input type="password" class="form-control" id="password2" placeholder="Password" ng-model="user.password2" ng-change="checkPasswords()">
</div>

<div ng-show="passwordError">The provided passwords do not match</div>
<div ng-hide="passwordError">The provided passwords match</div>

<button type="button" ng-disabled="passwordError" ng-click="password()" class="btn btn-primary">Submit</button>
</script>
<script type="text/ng-template" id="patient/patient.count.html">
<div>
    <div>{{title}}: {{count}}</div>
</div>
</script>
<script type="text/ng-template" id="patient/patient.details.form.html">
<ccdb-form-text label="Last name" value="patient.lastName"></ccdb-form-text>
<ccdb-form-text label="First name" value="patient.firstName"></ccdb-form-text>
<ccdb-form-select label="Race" options="races" value="patient.race"></ccdb-form-select>
<ccdb-form-select label="Gender" options="genders" value="patient.gender"></ccdb-form-select>
<ccdb-form-date label="Birth date" ng-model="patient.birthDate"></ccdb-form-date>
</script>
<script type="text/ng-template" id="patient/patient.details.html">
<div class="clearfix">
    <h3 class="float-left">{{ patient.lastName }}, {{ patient.firstName }}</h3>
    <h3 class="float-right">{{ patient.reference }}</h3>
</div>
<div class="clearfix">
    <span class="float-left">{{ patient.race }}</span>
    <span class="float-left">{{ patient.gender }}</span>
    <span class="float-left">{{ patient.birthDate | date: "dd/MM/yyyy" }}</span>
    <span class="float-right"><a ng-click="edit(patient)" class="button right">Edit</a></span>
</div>
</script>
<script type="text/ng-template" id="patient/patient.form.html">
<div class="well">

    <uib-tabset active="active">
        <uib-tab index="0" heading="Patient Details">
            <ng-include src="'patient/patient.details.form.html'"></ng-include>
        </uib-tab>
        <uib-tab index="1" heading="Referral">
            <ng-include src="'referral/referral.form.html'"></ng-include>
        </uib-tab>
        <uib-tab index="2" heading="Admission">
            <ng-include src="'admission/admission.form.html'"></ng-include>
        </uib-tab>
        <uib-tab index="3" heading="Scores">
            <ng-include src="'scores/scores.form.html'"></ng-include>
        </uib-tab>
        <uib-tab index="4" heading="Discharge">
            <ng-include src="'discharge/discharge.form.html'"></ng-include>
        </uib-tab>
    </uib-tabset>
</div></script>
<script type="text/ng-template" id="patient/patient.html">
</script>
<script type="text/ng-template" id="patient/patient.list.html">
<div class="panel panel-default">
    <table class="table table-hover">
        <caption>{{title}}</caption>
        <thead>
        <tr>
            <th width="250">Last name</th>
            <th width="250">First name</th>
            <th width="100">Age</th>
            <th width="100">Gender</th>
            <th width="250">Reference</th>
            <th width="280">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="patient in patients">
            <td>{{patient.lastName}}</td>
            <td>{{patient.firstName}}</td>
            <td>{{patient.birthDate | ageFilter}}</td>
            <td>{{patient.gender}}</td>
            <td>{{patient.reference}}</td>
            <td> <span ng-repeat="button in btns"><a ng-click="act(button, patient)" class="btn btn-default">{{button}}</a> </span></td>
        </tr>
        </tbody>
    </table>
</div>
</script>
<script type="text/ng-template" id="referral/referral.details.html">
<h3>Referral Details</h3>
<div class="row">
    <div class="small-6 columns">
        <dl>
            <dt>Root :</dt>
            <dd>{{ patient.referral.emergencyVsElective }}</dd>

            <dt>Referring hospital :</dt>
            <dd>{{ patient.referral.referringHospital }}</dd>

            <dt>Referral hospital :</dt>
            <dd>{{ patient.referral.referralHospital }}</dd>

            <dt>ICU registrar :</dt>
            <dd>{{ patient.referral.icuRegistrar }}</dd>

            <dt>ICU consultant :</dt>
            <dd>{{ patient.referral.icuConsultant }}</dd>

            <dt>Referral date :</dt>
            <dd>{{ patient.referral.referralDate | date: "dd/MM/yyyy HH:mm" }}</dd>

            <dt>Now time patient seen by ICU</dt>
            <dd>{{ patient.referral.timePatientSeenByICU | date: "dd/MM/yyyy HH:mm" }}</dd>

            <dt>Base discipline referring :</dt>
            <dd>{{ patient.referral.baseDisciplineReferring }}</dd>

            <dt>Base discipline consultant :</dt>
            <dd>{{ patient.referral.baseDisciplineConsultant }}</dd>

            <dt>Referring doctor :</dt>
            <dd>{{ patient.referral.referringDoctor }}</dd>

            <dt>Discipline of referring doctor :</dt>
            <dd>{{ patient.referral.disciplineOfReferringDoctor }}</dd>

            <dt>Patient location :</dt>
            <dd>{{ patient.referral.patientLocation }}</dd>

            <dt>Level of care required :</dt>
            <dd>{{ patient.referral.levelOfCareRequired }}</dd>

            <dt>Icu referral reason :</dt>
            <dd>{{ patient.referral.reasonOfReferralToICU }}</dd>

            <dt>Planned operation :</dt>
            <dd>{{ patient.referral.plannedOperation }}</dd>

            <dt>Planned operation reason :</dt>
            <dd>{{ patient.referral.reasonForOperation }}</dd>

            <dt>Operation date :</dt>
            <dd>{{ patient.referral.dateOperationPlanned | date: "dd/MM/yyyy HH:mm" }}</dd>

            <dt>Comorbidities :</dt>
            <dd>{{ patient.referral.comorbidities.join(", ") }}</dd>
       </dl>
    </div>
  </div>
<h3>Referral</h3>
  <div class="row">
    <div class="small-6 columns">
      <dl>
        <dt>Reason of referral to ICU :</dt>
        <dd>{{ patient.referral.reasonOfReferralToICU }}</dd>

        <dt>Is the referral for a complication of :</dt>
        <dd>{{ patient.referral.referralForComplicationOf }}</dd>

        <dt>Current patient location :</dt>
        <dd>{{ patient.referral.CurrentPatientLocation }}</dd>

        <dt>Number of days in hospital :</dt>
        <dd>{{ patient.referral.numberOfDaysInHospital }}</dd>

        <dt>Is the patient currently ventilated :</dt>
        <dd>{{ patient.referral.patientCurrentlyVentilated }}</dd>

        <dt>Was this patient in ICU in the previous 48 hours :</dt>
        <dd>{{ patient.referral.wasThisPatientInIcuInThePrevious48Hours }}</dd>

        <dt>SCCM :</dt>
        <dd>{{ patient.referral.sCCM }}</dd>

        <dt>Level of care required :</dt>
        <dd>{{ patient.referral.levelOfCareRequired }}</dd>

        <dt>Decision :</dt>
        <dd>{{ patient.referral.decision }}</dd>

        <dt>Decision reason :</dt>
        <dd>{{ patient.referral.decisionReason }}</dd>
      </dl>
    </div>
  </div>
<h3>Patient Status</h3>
  <div class="row">
    <div class="small-6 columns">
      <dl>
          <dt>Temperature :</dt>
          <dd>{{ patient.scores[0].temperature }}</dd>

          <dt>Systolic pressure :</dt>
          <dd>{{ patient.scores[0].systolicPressure }}</dd>

          <dt>Diastolic pressure :</dt>
          <dd>{{ patient.scores[0].diastolicPressure }}</dd>

          <dt>Heart rate :</dt>
          <dd>{{ patient.scores[0].heartRate }}</dd>

          <dt>Urine output :</dt>
          <dd>{{ patient.scores[0].urineOutput }}</dd>

          <dt>Eye opening :</dt>
          <dd>{{ patient.scores[0].eyeOpening }}</dd>

          <dt>Verbal response :</dt>
          <dd>{{ patient.scores[0].verbalResponse }}</dd>

          <dt>Motor response :</dt>
          <dd>{{ patient.scores[0].motorResponse }}</dd>

          <dt>Glasgow coma scale :</dt>
          <dd>{{ patient.scores[0].glasgowComaScale }}</dd>

          <dt>Haematocrit :</dt>
          <dd>{{ patient.scores[0].haematocrit }}</dd>

          <dt>WBC :</dt>
          <dd>{{ patient.scores[0].wBC }}</dd>

          <dt>Sodium :</dt>
          <dd>{{ patient.scores[0].sodium }}</dd>

          <dt>Urea :</dt>
          <dd>{{ patient.scores[0].urea }}</dd>

          <dt>Creatinine :</dt>
          <dd>{{ patient.scores[0].creatinine }}</dd>

          <dt>Albumin :</dt>
          <dd>{{ patient.scores[0].albumin }}</dd>

          <dt>Bilirubin :</dt>
          <dd>{{ patient.scores[0].bilirubin}}</dd>

          <dt>Glucose :</dt>
          <dd>{{ patient.scores[0].glucose }}</dd>

          <dt>FiO2 :</dt>
          <dd>{{ patient.scores[0].fiO2 }}</dd>

          <dt>PH :</dt>
          <dd>{{ patient.scores[0].pH }}</dd>

          <dt>PCO2 :</dt>
          <dd>{{ patient.scores[0].pCO2 }}</dd>

          <dt>PO2 :</dt>
          <dd>{{ patient.scores[0].pO2 }}</dd>

          <dt>Lactate :</dt>
          <dd>{{ patient.scores[0].lactate }}</dd>
      </dl>
    </div>
  </div>
<h3>Assessment details</h3>
  <div class="row">
    <div class="small-6 columns">
      <dl>
        <dt>History :</dt>
        <dd>{{ patient.referral.history }}</dd>

        <dt>Examination :</dt>
        <dd>{{ patient.referral.examination }}</dd>

        <dt>Management plan :</dt>
        <dd>{{ patient.referral.managementPlan }}</dd>
      </dl>
    </div>
  </div>
<h3>Summary outcome notes</h3>
  <div class="row">
    <div class="small-6 columns">
      <dl>
        <dt>Final outcome :</dt>
        <dd>{{ patient.referral.finalOutcomeNote }}</dd>

        <dt>SCCM score :</dt>
        <dd>{{ patient.referral.sccmScore }}</dd>

        <dt>Date and time :</dt>
        <dd>{{ patient.referral.dateAndTimeNote }}</dd>
      </dl>
    </div>
  </div>
<h3>Referral scores</h3>
  <div class="row">
    <div class="small-6 columns">
      <dl>
        <dt>Creatinine :</dt>
        <dd>{{ patient.scores[0].creatinine }}</dd>

        <dt>Diastolic blood pressure :</dt>
        <dd>{{ patient.scores[0].diastolicPressure }}</dd>

        <dt>Glucose :</dt>
        <dd>{{ patient.scores[0].glucose }}</dd>

        <dt>Heart rate :</dt>
        <dd>{{ patient.scores[0].heartRate }}</dd>

        <dt>Respiratory heart rate :</dt>
        <dd>{{ patient.scores[0].respiratoryRate }}</dd>

        <dt>Sodium :</dt>
        <dd>{{ patient.scores[0].sodium }}</dd>

        <dt>Systolic blood pressure :</dt>
        <dd>{{ patient.scores[0].systolicPressure }}</dd>

        <dt>Temperature :</dt>
        <dd>{{ patient.scores[0].temperature }}</dd>

        <dt>Urine output :</dt>
        <dd>{{ patient.scores[0].urineOutput }}</dd>

        <dt>Eye opening :</dt>
        <dd>{{ patient.scores[0].eyeOpening }}</dd>

        <dt>Verbal response :</dt>
        <dd>{{ patient.scores[0].verbalResponse }}</dd>

        <dt>Motor response :</dt>
        <dd>{{ patient.scores[0].motorResponse }}</dd>
      </dl>
    </div>
  </div>
<h3>Outcome Details</h3>
  <div class="row">
    <div class="small-6 columns">
      <dl>
        <dt>Outcome entry time and date :</dt>
        <dd>{{ patient.referral.outcomeEntryTimeandDate | date: "dd/MM/yyyy HH:mm" }}</dd>

        <dt>Doctor finalising :</dt>
        <dd>{{ patient.referral.doctorFinalising }}</dd>

        <dt>Revised SCCCM :</dt>
        <dd>{{ patient.referral.revisedScccm }}</dd>

        <dt>If accepted for admission any delays :</dt>
        <dd>{{ patient.referral.ifAcceptedAnyDelay }}</dd>

        <dt>Reason for delay :</dt>
        <dd>{{ patient.referral.delayReason }}</dd>

        <dt>If accepted but never admitted :</dt>
        <dd>{{ patient.referral.IfAcceptedButNeverAdmitted }}</dd>

        <dt>Unit trasnferred to if trasnferred :</dt>
        <dd>{{ patient.referral.unitTrasnferredToIfTrasnferred }}</dd>

        <dt>The final outcome of the patient is :</dt>
        <dd>{{ patient.referral.theFinalOutcomeOfThePatientIs }}</dd>
      </dl>
    </div>
</div>
</script>
<script type="text/ng-template" id="referral/referral.form.html">
<ccdb-form-select label="Roots" options="roots" value="patient.referral.emergencyVsElective"></ccdb-form-select>
<ccdb-form-text label="ICU registrar/Doctor" value="patient.referral.icuRegistrar"></ccdb-form-text>
<ccdb-form-text label="ICU consultant" value="patient.referral.icuConsultant"></ccdb-form-text>
<ccdb-form-date label="Entry time and date" ng-model="patient.referral.entryTimeAndDate"></ccdb-form-date>
<ccdb-form-date label="Referral date" ng-model="patient.referral.referralDate"></ccdb-form-date>
<ccdb-form-date label="Time patient seen by ICU" ng-model="patient.referral.timePatientSeenByICU" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-date>
<ccdb-form-select label="Operative status at time of referral" options="operativeStatusAtTimeOfReferral" value="patient.referral.operativeStatusAtTimeOfReferral" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-select>
<ccdb-form-text label="Base discipline referring" value="patient.referral.baseDisciplineReferring"></ccdb-form-text>
<ccdb-form-text label="Base discipline consultant" value="patient.referral.baseDisciplineConsultant"></ccdb-form-text>
<ccdb-form-text label="Referring doctor" value="patient.referral.referringDoctor"></ccdb-form-text>
<ccdb-form-text label="Discipline of referring doctor" value="patient.referral.disciplineOfReferringDoctor"></ccdb-form-text>
<ccdb-form-text label="Referring hospital" value="patient.referral.referringHospital" ng-show="patient.referral.emergencyVsElective =='Emergency'"></ccdb-form-text>
<ccdb-form-text label="Referral hospital" value="patient.referral.referralHospital" ng-show="patient.referral.emergencyVsElective =='Emergency'"></ccdb-form-text>
<ccdb-form-select label="Diagnosis" options="diagnosis" value="patient.referral.diagnosis" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-select>
<ccdb-form-select label="Patient location" options="patientLocation" value="patient.referral.patientLocation" ng-show="patient.referral.emergencyVsElective == 'Elective'"></ccdb-form-select>
<ccdb-form-select label="Level of care required" options="levelsOfCare" value="patient.referral.levelOfCareRequired" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-select>
<ccdb-form-select label="Reason of referral to ICU" options="reasonOfReferralToICU" value="patient.referral.reasonOfReferralToICU" ng-show="patient.referral.emergencyVsElective == 'Elective'"></ccdb-form-select>
<ccdb-form-textarea label="Planned operation" value="patient.referral.plannedOperation" ng-show="patient.referral.emergencyVsElective == 'Elective'"></ccdb-form-textarea>
<ccdb-form-textarea label="Planned operation reason" value="patient.referral.reasonForOperation" ng-show="patient.referral.emergencyVsElective == 'Elective'"></ccdb-form-textarea>
<ccdb-form-date label="Date operation planned" ng-model="patient.referral.dateOperationPlanned" ng-show="patient.referral.emergencyVsElective == 'Elective'"></ccdb-form-date>
<ccdb-form-text label="Diagnosis details" value="patient.referral.diagnosisDetails" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-multiselect label="Comorbidities" options="comorbidities" value="patient.referral.comorbidities"></ccdb-form-multiselect>

<ccdb-form-select label="Reason of referral to ICU" options="reasonOfReferralToICU" value="patient.referral.reasonOfReferralToICU" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-select>
<ccdb-form-select label="Is the referral for a complication of" options="referralForComplicationOf" value="patient.referral.referralForComplicationOf" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-select>
<ccdb-form-select label="Current patient location" options="CurrentPatientLocation" value="patient.referral.CurrentPatientLocation" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-select>
<ccdb-form-text label="Number of days in hospital" value="patient.referral.numberOfDaysInHospital" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="Is the patient currently ventilated" value="patient.referral.patientCurrentlyVentilated" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="Was this patient in ICU in the previous 48 hours" value="patient.referral.wasThisPatientInIcuInThePrevious48Hours" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-select label="SCCM" options="sCCM" value="patient.referral.sCCM" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-select>
<ccdb-form-select label="Level of care required" options="levelOfCareRequired" value="patient.referral.levelOfCareRequired" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-select>
<ccdb-form-select label="Decision" options="decision" value="patient.referral.decision" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-select>
<ccdb-form-text label="Decision reason" value="patient.referral.decisionReason" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>

<ccdb-form-text label="History" value="patient.referral.history" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="Examination" value="patient.referral.examination" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="Management plan" value="patient.referral.managementPlan" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>

<ccdb-form-select label="Final outcome" options="finalOutcomeNote" value="patient.referral.finalOutcomeNote" ng-show="patient.referral.emergencyVsElective == 'Elective'"></ccdb-form-select>
<ccdb-form-select label="Sccm score"options="sccmScore" value="patient.referral.sccmScore" ng-show="patient.referral.emergencyVsElective == 'Elective'"></ccdb-form-select>
<ccdb-form-date label="Date and time" ng-model="patient.referral.dateAndTimeNote" ng-show="patient.referral.emergencyVsElective == 'Elective'"></ccdb-form-date>


<ccdb-form-date label="Outcome entry time and date" ng-model="patient.referral.outcomeEntryTimeandDate"></ccdb-form-date>
<ccdb-form-text label="Doctor finalising" value="patient.referral.doctorFinalising"></ccdb-form-text>
<ccdb-form-select label="Revised SCCCM" options="revisedScccm" value="patient.referral.revisedScccm"></ccdb-form-select>
<ccdb-form-textarea label="Any delay on admission" value="patient.referral.ifAcceptedAnyDelay"></ccdb-form-textarea>
<ccdb-form-textarea label="Reason for delay" value="patient.referral.delayReason"></ccdb-form-textarea>
<ccdb-form-textarea label="If accepted but never admitted" value="patient.referral.IfAcceptedButNeverAdmitted"></ccdb-form-textarea>
<ccdb-form-text label="Unit transferred to if transferred" value="patient.referral.unitTransferredToIfTransferred "></ccdb-form-text>
<ccdb-form-textarea label="The final outcome of the patient is" value="patient.referral.theFinalOutcomeOfThePatientIs"></ccdb-form-textarea>


<!-- score -->
<ccdb-form-text label="Temperature (&deg;C)" value="patient.scores[0].temperature" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="Systolic blood pressure (mmHg)" value="patient.scores[0].systolicPressure" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="Diastolic blood pressure (mmHg)" value="patient.scores[0].diastolicPressure" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="Heart rate (bpm)" value="patient.scores[0].heartRate" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="Urine output (mls/hr)" value="patient.scores[0].urineOutput" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-select label="Eye opening" options="eyeOpening" value="patient.scores[0].eyeOpening" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-select>
<ccdb-form-select label="Verbal response" options="verbalResponse" value="patient.scores[0].verbalResponse" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-select>
<ccdb-form-select label="Motor response" options="motorResponse" value="patient.scores[0].motorResponse" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-select>
<ccdb-form-text label="Glasgow coma scale" value="patient.scores[0].glasgowComaScale" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="Haematocrit (%)" value="patient.scores[0].haematocrit" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="WBC (x103/mm3)" value="patient.scores[0].wBC" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="Sodium (mEq/L)" value="patient.scores[0].sodium" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="Urea (mmol/l)" value="patient.scores[0].urea" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="Creatinine (mg/dL)" value="patient.scores[0].creatinine" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="Albumin (g/l)" value="patient.scores[0].albumin" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="Bilirubin (umol/l)" value="patient.scores[0].bilirubin" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="Glucose (mmol/L)" value="patient.scores[0].glucose" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="FiO2 (%)" value="patient.scores[0].fiO2" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="PH (%)" value="patient.scores[0].pH" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="PCO2 (kPa)" value="patient.scores[0].pCO2" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="pO2 (kPa)" value="patient.scores[0].pO2" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
<ccdb-form-text label="Lactate" value="patient.scores[0].lactate" ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</script>
<script type="text/ng-template" id="reset/reset.html">
<div class="container">
  <div class="form-reset">
      <h2 class="form-reset-heading">Reset your password</h2>
      <label for="username" class="sr-only">username</label>
      <input type="username" class="form-control" id="username" placeholder="Username (email address)" ng-model="user.username">
      <div ng-show="message" class="form-reset-message">{{message}}</div>
      <button type="button" ng-hide="message" ng-click="reset()" class="btn btn-lg btn-primary btn-block">Reset</button>
  </div>
</div></script>
<script type="text/ng-template" id="score/score.form.html">

<ccdb-form-date label="Score date" value="patient.score.scoreDate" ng-hide="referral || admission"></ccdb-form-date>

<ccdb-form-text label="Creatinine (mg/dL)" value="patient.scores[0].creatinine" ng-hide="admission"></ccdb-form-text>

<ccdb-form-text label="Creatinine (mg/dL)" value="patient.scores[1]" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="Diastolic blood pressure (mm Hg)" value="patient.scores[0].diastolicPressure" ng-hide="admission"></ccdb-form-text>

<ccdb-form-text label="Diastolic blood pressure (mm Hg)" value="patient.scores[1].diastolicPressure" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="Glucose (mmol/L)" value="patient.scores[0].glucose" ng-hide="admission"></ccdb-form-text>

<ccdb-form-text label="Glucose (mmol/L)" value="patient.scores[1].glucose" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="Heart rate (beats/minute)" value="patient.scores[0].heartRate"></ccdb-form-text>

<ccdb-form-text label="Respiratory heart rate (breaths/minute)" value="patient.scores[1].respiratoryRate" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="Sodium (mEq/L)" value="patient.scores[0].sodium" ng-hide="admission"></ccdb-form-text>

<ccdb-form-text label="Sodium (mEq/L)" value="patient.scores[1].sodium" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="Systolic blood pressure (mm Hg)" value="patient.scores[0].systolicPressure" ng-hide="admission"></ccdb-form-text>

<ccdb-form-text label="Systolic blood pressure (mm Hg)" value="patient.scores[1].systolicPressure" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="Temperature (&deg;C)" value="patient.score.temperature" ng-hide="admission"></ccdb-form-text>

<ccdb-form-text label="Temperature (&deg;C)" value="patient.scores[1].temperature" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="Urine output (mls/hr)" value="patient.scores[0].urineOutput" ng-hide="admission"></ccdb-form-text>

<ccdb-form-text label="Urine output (mls/hr)" value="patient.scores[1].urineOutput" ng-hide="referral"></ccdb-form-text>

<ccdb-form-select label="Eye opening" options="eyeOpening" value="patient.scores[0].eyeOpening" ng-hide="admission"></ccdb-form-select>

<ccdb-form-select label="Eye opening" options="eyeOpening" value="patient.scores[1].eyeOpening" ng-hide="referral"></ccdb-form-select>

<ccdb-form-select label="Verbal response" options="verbalResponse" value="patient.scores[0].verbalResponse" ng-hide="admission"></ccdb-form-select>

<ccdb-form-select label="Verbal response" options="verbalResponse" value="patient.scores[1].verbalResponse" ng-hide="referral"></ccdb-form-select>

<ccdb-form-select label="Motor response" options="motorResponse" value="patient.scores[0].motorResponse" ng-hide="admission"></ccdb-form-select>

<ccdb-form-select label="Motor response" options="motorResponse" value="patient.scores[1].motorResponse" ng-hide="referral"><ccdb-form-select>

<ccdb-form-text label="Glasgow coma scale" value="patient.scores[0].glasgowcomaScale" ng-hide="admission"></ccdb-form-text>

<ccdb-form-text label="Glasgow coma scale" value="patient.scores[1].glasgowComaScale" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="Pupils" value="patient.score.pupils" ng-hide="admission || referral"></ccdb-form-text>

<ccdb-form-text label="Ventilated" value="patient.score.ventilated" ng-hide="referral || admission"></ccdb-form-text>

<ccdb-form-text label="Thrombolytic therapy" value="patient.score.thrombolyticTherapy" ng-hide="referral || admission"></ccdb-form-text>

<ccdb-form-text label="Haematocrit (%)" value="patient.scores[0].haematocrit" ng-hide="admission"></ccdb-form-text>

<ccdb-form-text label="Haematocrit (%)" value="patient.scores[1].haematocrit" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="WBC (x103/mm3)" value="patient.scores[0].wBC" ng-hide="admission"></ccdb-form-text>

<ccdb-form-text label="WBC (x103/mm3)" value="patient.scores[1].wBC" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="Potassium (mEq/L)" value="patient.score.potassium" ng-hide="referral || admission"></ccdb-form-text>

<ccdb-form-text label="Corr Calcium (mmol/l)" value="patient.score.corrCalcium" ng-hide="referral || admission"></ccdb-form-text>

<ccdb-form-text label="Urea (mmol/l)" value="patient.scores[0].urea" ng-hide="admission"></ccdb-form-text>

<ccdb-form-text label="Albumin (g/l)" value="patient.scores[0].albumin" ng-hide="admission"></ccdb-form-text>

<ccdb-form-text label="Bilirubin (umol/l)" value="patient.scores[0].bilirubin" ng-hide="admission"></ccdb-form-text>

<ccdb-form-text label="INR" value="patient.score.iNR" ng-hide="referral || admission"></ccdb-form-text>

<ccdb-form-text label="FiO2 (%)" value="patient.scores[0].fiO2" ng-hide="admission"></ccdb-form-text>

<ccdb-form-text label="Fio2 (%)" value="patient.scores[1].fiO2" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="PH (%)" value="patient.scores[0].pH" ng-hide="admission"></ccdb-form-text>

<ccdb-form-text label="PH" value="patient.scores[1].pH" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="PCO2 (kPa)" value="patient.scores[0].pCO2" ng-hide="admission"></ccdb-form-text>

<ccdb-form-text label="PCO2 (kPa)" value="patient.scores[1].pCO2" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="pO2 (kPa)" value="patient.scores[0].pO2" ng-hide="admission"></ccdb-form-text>

<ccdb-form-text label="pO2 (kPa)" value="patient.scores[1].pO2" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="Lactate" value="patient.scores[0].lactate"></ccdb-form-text>

<ccdb-form-text label="Lactate" value="patient.scores[1].lactate" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="HCO3 (mEq/L)" value="patient.scores.hCO3" ng-hide="referral || admission"></ccdb-form-text>

<ccdb-form-text label="Base excess" value="patient.scores[1].baseExcess" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="Airway" value="patient.scores[1].airway" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="Bicarbonate" value="patient.scores[1].bicarbonate" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="Current antibiotic therapy in ward" value="patient.scores[1].currentAntibioticTherapyInWard" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="Duration of antibtioics" value="patient.scores[1].durationOfAntibtioics" ng-hide="referral"></ccdb-form-text>

<ccdb-form-textarea label="Notes" value="patient.scores.notes" ng-hide="admission || referral"></ccdb-form-textarea>

<ccdb-form-text label="Saturation" value="patient.scores[1].saturation" ng-hide="referral"></ccdb-form-text>

<ccdb-form-text label="Sedated" value="patient.scores[1].sedated" ng-hide="referral"></ccdb-form-text>
</script>
<script type="text/ng-template" id="score/score.html">
<h3>{{score.notes}}</h3>
<dl class="wide row">
    <div class="small-6 columns">

        <dt>Temperature :</dt>
        <dd><pre>{{ patient.scores[1].temperature }} &deg;C</pre></dd>

        <dt>Systolic pressure :</dt>
        <dd><pre>{{ patient.scores[1].systolicPressure }} mmHg</pre></dd>

        <dt>Diastolic pressure :</dt>
        <dd><pre>{{ patient.score[1].diastolicPressure }} mmHg</pre></dd>

        <dt>Heart rate :</dt>
        <dd><pre>{{ patient.score[1].heartRate }} bpm</pre></dd>

        <dt>Respiratory rate :</dt>
        <dd><pre>{{ patient.score[1].respiratoryRate }}</pre></dd>

        <dt>Urine output :</dt>
        <dd><pre>{{ patient.score[1].urineOutput }} mls/hr</pre></dd>

        <dt>Eye opening :</dt>
        <dd><pre>{{ patient.score[1].eyeOpening }}</pre></dd>

        <dt>Verbal response :</dt>
        <dd><pre>{{ score.laboratoryResults.verbalResponse }}</pre></dd>

        <dt>Motor response :</dt>
        <dd><pre>{{ score.laboratoryResults.motorResponse }}</pre></dd>

        <dt>Glasgow coma scale :</dt>
        <dd><pre>{{ score.laboratoryResults.glasgowComaScale }}</pre></dd>

        <dt>Pupils :</dt>
        <dd><pre>{{ score.laboratoryResults.pupils }}</pre></dd>

        <dt>Ventilated :</dt>
        <dd><pre>{{ score.laboratoryResults.ventilated }}</pre></dd>

        <dt>Thrombolytic therapy :</dt>
        <dd><pre>{{ score.laboratoryResults.thrombolyticTherapy }}</pre></dd>

        <dt>Haematocrit :</dt>
        <dd><pre>{{ score.laboratoryResults.haematocrit }}</pre></dd>

        <dt>WBC :</dt>
        <dd><pre>{{ score.laboratoryResults.wBC }} x103/mm3</pre></dd>

        <dt>Sodium</dt>
        <dd><pre>{{ score.laboratoryResults.sodium }} mmol/l</pre></dd>

        <dt>Potassium :</dt>
        <dd><pre>{{ score.laboratoryResults.potassium }} mEq/L</pre></dd>

        <dt>Corr Calcium :</dt>
        <dd><pre>{{ score.laboratoryResults.corrCalcium }} mmol/l</pre></dd>

        <dt>Urea :</dt>
        <dd><pre>{{ score.laboratoryResults.urea }} mmol/l</pre></dd>

        <dt>Creatinine :</dt>
        <dd><pre>{{ score.laboratoryResults.creatinine }} umol/l</pre></dd>

        <dt>Albumin :</dt>
        <dd><pre>{{ score.laboratoryResults.albumin }} g/l</pre></dd>

        <dt>Bilirubin :</dt>
        <dd><pre>{{ score.laboratoryResults.bilirubin }} umol/l</pre></dd>

        <dt>INR :</dt>
        <dd><pre>{{ score.laboratoryResults.iNR }}</pre></dd>

        <dt>FiO2 :</dt>
        <dd><pre>{{ score.laboratoryResults.fiO2 }} %</pre></dd>

        <dt>pH :</dt>
        <dd><pre>{{ score.laboratoryResults.pH }}</pre></dd>

        <dt>PCO2 :</dt>
        <dd><pre>{{ score.laboratoryResults.pCO2 }} kPa</pre></dd>

        <dt>PO2 :</dt>
        <dd><pre>{{ score.laboratoryResults.pO2 }} kPa</pre></dd>

        <dt>Lactate :</dt>
        <dd><pre>{{ score.laboratoryResults.lactate }} mmol</pre></dd>

        <dt>HCO3 :</dt>
        <dd><pre>{{ score.laboratoryResults.hCO3 }}</pre></dd>

        <dt>Base excess :</dt>
        <dd><pre>{{ score.laboratoryResults.baseExcessStd }} (std)</pre></dd>

        <dt>Bicarbonate :</dt>
        <dd><pre>{{ score.bicarbonate }}</pre></dd>

        <dt>Current antibiotics therapy in ward :</dt>
        <dd><pre>{{ score.currentAntibioticTherapyInWard }}</pre></dd>

        <dt>Duration of antibiotics :</dt>
        <dd><pre>{{ score.durationOfAntibtioics }}</pre></dd>

        <dt>Glucose :</dt>
        <dd><pre>{{ score.glucose }}</pre></dd>

        <dt>Saturation :</dt>
        <dd><pre>{{ score.saturation }}</pre></dd>

        <dt>Sedated :</dt>
        <dd><pre>{{ score.sedated }}</pre></dd>

        <dt>Score date :</dt>
        <dd><pre>{{ score.scoreDate | date: "dd/MM/yyyy HH:mm" }}</pre></dd>

        <dt>Airway :</dt>
        <dd><pre>{{ score.airway }}</pre></dd>

    </div>
</dl>
</script>
<script type="text/ng-template" id="score/scores.html">
<!-- add a dropdown or something to select the visible score -->
<section ng-repeat="score in patient.scores" id="{{score.scoreDate | date:'EEE' }}"><ccdb-score score="score"></ccdb-score></section>
</script>
<script type="text/ng-template" id="search/search.html">
<div>
    <h2>Search</h2>
    <div class="callout">
        <input autofocus type="text" ng-model="query" ng-change="search(query)"/>
    </div>

    <ccdb-patient-list title="" buttons="Edit" query="query"></ccdb-patient-list>
</div>
</script>
<script type="text/ng-template" id="user/user.form.html">
<div class="well">
    <div class="panel panel-default">
    <form>
        <ccdb-form-text no-suggestions="true" label="Username" value="user.username"></ccdb-form-text>
        <ccdb-form-text no-suggestions="true" label="Name" value="user.name"></ccdb-form-text>
        <ccdb-form-select label="Hospital" options="hospitals" value="user.hospital"></ccdb-form-select>
        <ccdb-form-select label="Role" options="roles" value="user.role"></ccdb-form-select>
        <a ng-click="save(user)" class="btn btn-default">Save</a>
    </form>
</div>
</div></script>
<script type="text/ng-template" id="user/user.list.html">
<div class="well">
    <div class="panel panel-default">
    <h2>Users</h2>
    <a href="#/editUser/new" class="btn btn-default">New User</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Hospital</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.name}}</td>
            <td>{{user.hospital}}</td>
            <td>{{user.role}}</td>
            <td><a href="#/editUser/{{user._id}}" class="button radius">Edit</a></td>
        </tr>
        </tbody>
    </table>
</div></div></script>
<script type="text/ng-template" id="utils/date.range.html">
<span class="noselect"><a ng-click="dateRangeService.previous()" class="btn btn-default noselect">&lt;</a> <a ng-click="dateRangeService.next()" class="btn btn-default noselect">&gt;</a> </span>{{dateRangeService.dateRange.startDate | date : 'MMM d'}} - {{dateRangeService.dateRange.endDate | date : 'MMM d, y'}}
</script>
<script type="text/ng-template" id="utils/form/date.html">
<div class="form-group">
    <label>{{ label }}</label>
    <select ng-model="date" ng-change="modelChanged()" ng-options="d as d for d in dates"></select>
    <select ng-model="month" ng-change="modelChanged()" ng-options="m.key as m.value for m in months"></select>
    <select ng-model="year" ng-change="modelChanged()" ng-options="y as y for y in years"></select>

    <a class="btn btn-default noselect" ng-click="modelChanged(true)">now</a>
</div>
</script>
<script type="text/ng-template" id="utils/form/multiselect.html">
<div class="form-group">
    <label>{{ label }}</label>
    <div class="checkbox" ng-repeat="option in options">
        <label >
            <input type="checkbox" checklist-model="value" checklist-value="option"/>{{option}}
        </label>
    </div>
</div>
</script>
<script type="text/ng-template" id="utils/form/select.html">
<div class="form-group">
    <label for="right-label">{{ label }}</label>
    <select id="right-label" class="form-control" ng-model="value" >
    <option ng-repeat="option in options">{{ option }}</option>
    </select>
</div>
</script>
<script type="text/ng-template" id="utils/form/text.html">
<div class="form-group">
    <label for="right-label">{{ label }}</label>
    <input  type="text"
            class="form-control"
            id="right-label"
            placeholder="{{ label }}"
            ng-model="value"
            typeahead="item for item in getSuggestions($viewValue) | filter:$viewValue"
            typeahead-loading="loading"
    >
</div>
</script>
<script type="text/ng-template" id="utils/form/textarea.html">
<div class="form-group">
    <label for="right-label">{{ label }}</label>
    <textarea class="form-control" rows="5" cols="30" id="right-label" placeholder="{{ label }}" ng-model="value"></textarea>
</div>
</script>
