<script type="text/ng-template" id="admission/admission.form.html">
<h1>Admission</h1>
<div class="divider"></div>

<form name="patientForm" ng-submit="save()" novalidate>

    <uib-tabset active="active">
        <uib-tab index="0">
            <uib-tab-heading>
                Admission
                <i ng-show="patientForm.admissionInfoForm.$invalid" class="glyphicon glyphicon-flag red"></i>
            </uib-tab-heading>
            <ng-include src="'admission/admission.info.form.html'"></ng-include>
        </uib-tab>
        <uib-tab index="1" heading="Condition on arrival">
            <ng-include src="'admission/condition.form.html'"></ng-include>
        </uib-tab>
        <uib-tab index="2" heading="History">
            <ng-include src="'admission/history.form.html'"></ng-include>
        </uib-tab>
        <uib-tab index="3" heading="Operative details">
            <ng-include src="'admission/operative.form.html'"></ng-include>
        </uib-tab>
        <uib-tab index="4" heading="Plan"><!-- score -->
            <ng-include src="'admission/plan.form.html'"></ng-include>
        </uib-tab>
        <uib-tab index="5" heading="Summary">
            <ng-include src="'admission/summary.form.html'"></ng-include>
        </uib-tab>
    </uib-tabset>

    <button type="submit" ng-disabled="patientForm.$invalid" class="btn btn-primary">Save</button>

</form></script>
<script type="text/ng-template" id="admission/admission.info.form.html">
<ng-form name="admissionInfoForm">
    <div class="panel form-panel">
        <div class="row">
            <div class="col-sm-6">
                <!-- this can be hidden. record when they hit save -->
                <ccdb-form-date label="Admission entry date and time"
                                ng-model="patient.admission.admissionDateEntrtyAndTime"></ccdb-form-date>
            </div>
            <div class="col-sm-6">
                <ccdb-form-date label="Admission date and time"
                                ng-model="patient.admission.admissionDateAndTime"></ccdb-form-date>
            </div>
            <div class="col-sm-6"> <!-- select : Emergency Dep; Ward; Theatre; Another Hospital -->
                <ccdb-form-text label="Hospital admitted from" value="patient.admission.admittedFrom"></ccdb-form-text>
            </div>
            <div class="col-sm-6">
                <ccdb-form-text label="Days in Hospital before ICU"
                                value="patient.admission.numOfdaysInhospitalBeforeICU"></ccdb-form-text>
            </div>
            <div class="col-sm-6">
                <ccdb-form-text label="Admitting doctor" value="patient.admission.admittingDoctor"></ccdb-form-text>
            </div>
            <div class="col-sm-6">
                <ccdb-form-text label="Admitting consultant" value="patient.admission.admittingConsultant"></ccdb-form-text>
            </div>
        </div>
    </div>
</ng-form></script>
<script type="text/ng-template" id="admission/condition.form.html">
<ccdb-score-form score="patient.scores[1]" admission="true"></ccdb-score-form></script>
<script type="text/ng-template" id="admission/history.form.html">
<div class="panel form-panel">
    <div class="row">
        <!-- show the history recorded at referral above the boxes -->
        <div class="col-sm-6">
            <ccdb-form-textarea label="Past medical history"
                                value="patient.admission.pastMedicalHistory"></ccdb-form-textarea>
        </div>
        <div class="col-sm-6">
            <ccdb-form-textarea label="Past surgical history"
                                value="patient.admission.pastSurgicalHistory"></ccdb-form-textarea>
        </div>
        <div class="col-sm-6">
            <ccdb-form-textarea label="Chronic medications" value="patient.admission.medications"></ccdb-form-textarea>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="admission/operative.form.html">
<div class="panel form-panel">
    <div class="row">
        <div class="col-sm-6"> <!-- if non-operative, disable and don't require the rest -->
            <ccdb-form-select label="Operative Details" options="operativeDetails"
                              value="patient.admission.operativeDetails"></ccdb-form-select>
        </div>
        <div class="col-sm-6">
            <ccdb-form-date label="Date and time of surgery"
                            ng-model="patient.admission.surgeryDateAndTime"></ccdb-form-date>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Operation performed" value="patient.admission.operationPerformed"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Operative findings" value="patient.admission.operativeFindings"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-textarea label="Operative Plan" value="patient.admission.operativePlan"></ccdb-form-textarea>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Duration of operation"
                            value="patient.admission.durationOfOperation"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Anaesthesia" value="patient.admission.anaesthesia"></ccdb-form-text>
        </div>

        <div class="col-sm-6"><!-- leave this in even if non-operative -->
            <ccdb-form-text label="Grade of laryngoscopy"
                            value="patient.admission.gradeOfLaryngoscopy"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Duration of anaesthesia"
                            value="patient.admission.durationOfAnaesthesia"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Antibiotic" value="patient.admission.antibiotics"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Intra-operative total volumes"
                            value="patient.admission.intraOperativeTotalVolumes"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Blood loss" value="patient.admission.bloodLoss"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Urine output (mls/hr)" value="patient.admission.urineOutput"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Crystalloid volume" value="patient.admission.crystalloidVolume"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Colloid volume" value="patient.admission.colloidVolume"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Packed cell" value=" patient.admission.packedCells"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Freeze dried plasma" value="patient.admission.freezeDriedPlasma"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Platelets" value="patient.admission.platelets"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Cruoprecipitate" value="patient.admission.cruoprecipitate"></ccdb-form-text>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="admission/plan.form.html">
<div class="panel form-panel">
    <div class="row">
        <div class="col-sm-6">
            <ccdb-form-text label="Airway and breathing" value="patient.admission.airwayAndBreathing"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Circulation" value="patient.admission.circulation"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Renal and electrolytes"
                            value="patient.admission.renalAndElectrolytes"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Fluids and feeds" value="patient.admission.fluids"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Antibiotics" value="patient.admission.antibiotics"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Lines" value="patient.admission.lines"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Analgesia And Sedation"
                            value="patient.admission.analgesiaAndSedation"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Thrombosis Management"
                            value="patient.admission.thrombosisManagement"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Ulcer prophylaxis" value="patient.admission.ulcerProphylaxis"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Other" value="patient.admission.other"></ccdb-form-text>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="admission/summary.form.html">
<div class="panel form-panel">
    <div class="row">
        <div class="col-sm-6">
            <ccdb-form-textarea label="Admission summary notes"
                                value="patient.admission.admissionSummaryNotes"></ccdb-form-textarea>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="dashboard/dashboard.html">
<div class="row">
  <div class="col-md-6">
    <h1>Dashboard</h1>
  </div>
  <div class="col-md-6">
    <span class="pull-right">
      New referral:
      <div class="btn-group" role="group" aria-label="...">
        <a href="#/newReferral/Elective" class="btn btn-default">Elective</a>
        <a href="#/newReferral/Emergency" class="btn btn-default">Emergency</a>
      </div>
    </span>
  </div>
</div>
<div class="divider"></div>
<div class="panel panel-default">
  <ccdb-patient-list title="Active Referrals"
                     buttons="Admit"
                     filter='{"referral.decision": "Cannot make decision now"}'
  ></ccdb-patient-list>
</div>
<div class="panel panel-default">
  <ccdb-patient-list title="Current Admissions"
                     buttons="Score,Discharge"
                     filter='{"referral.decision": "Accepted", "discharge.dischargeDate": null}'
  ></ccdb-patient-list>
</div>
</script>
<script type="text/ng-template" id="discharge/discharge.form.html">
<div class="panel form-panel">
    <form name="patientForm" ng-submit="save()" novalidate>
        <div class="row">
            <div class="col-sm-6">
                <ccdb-form-date label="Discharge date" ng-model="patient.discharge.dischargeDate"></ccdb-form-date>
            </div>
            <div class="col-sm-6">
                <ccdb-form-select label="Discharge status" options="dischargeStatuses"
                                  value="patient.discharge.dischargeStatus"></ccdb-form-select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <ccdb-form-textarea label="Comments" value="patient.discharge.comments"></ccdb-form-textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>

    </form>
</div>
</script>
<script type="text/ng-template" id="discharge/discharge.html">
<h3>Discharge Details</h3>
<dl>
    <dt>Discharge date :</dt>
    <dd>{{ patient.discharge.dischargeDate | date: "dd/MM/yyyy HH:mm"  || 'empty' }}</dd>

    <dt>Status :</dt>
    <dd>{{ patient.discharge.status }}</dd>

    <dt>Comments :</dt>
    <dd><pre>{{ patient.discharge.comments }}</pre></dd>
</dl>
</script>
<script type="text/ng-template" id="login/login.html">
<div ng-hide="!errorHandler.message" data-alert class="alert-box alert">
    {{errorHanlder.message}}
</div>

<div class ="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username" class="sr-only">username</label>
        <input autofocus type="username" class="form-control" id="username" placeholder="Username (email address)" ng-model="user.username">
        <label for="password" class="sr-only">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
        <button type="submit" ng-click="login()" class="btn btn-lg btn-primary btn-block">Submit</button>
        <button type="button" ng-click="reset()" class="btn btn-link pull-right form-signing-reset-btn">Forgotten your password?</button>
    </form>
</div></script>
<script type="text/ng-template" id="navigation/navigation.html">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CCDB</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/dashboard">Dashboard</a></li>
                <li><a href="#/search">Search</a></li>                
                <li><a href="#/users">Users</a></li>
                <li><a href="#/download-patient" ng-show="isLoggedIn" ng-click="downloadPatient()">Download Patient CSV</a></li>
                <!--<li><a href="#/download-patient-scores" ng-show="isLoggedIn" ng-click="downloadPatientScores()">Download Patient Scores CSV</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login" ng-hide="isLoggedIn">Log In</a></li>
                <p class="navbar-text">{{loggedInUser}}</p>
                <li><a href="#/logout" ng-show="isLoggedIn" ng-click="logout()">Log Out</a></li>
                <li ng-show="online"><a><span class="round success label">Online</span></a></li>
                <li ng-hide="online"><a><span class="round alert label">Offline</span></a></li>
            </ul>
        </div>
    </div>
</nav>
</script>
<script type="text/ng-template" id="password/password.html">
<legend>Password Change Form</legend>

<div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password" ng-change="checkPasswords()">
    <label for="password2">Confirm Password</label>
    <input type="password" class="form-control" id="password2" placeholder="Password" ng-model="user.password2" ng-change="checkPasswords()">
</div>

<div ng-show="passwordError">The provided passwords do not match</div>
<div ng-hide="passwordError">The provided passwords match</div>

<button type="button" ng-disabled="passwordError" ng-click="password()" class="btn btn-primary">Submit</button>
</script>
<script type="text/ng-template" id="patient/patient.count.html">
<div class="info-box">
  <h1>{{count}}</h1>
    <div>{{title}}</div>
</div>
</script>
<script type="text/ng-template" id="patient/patient.details.html">
<div class="clearfix">
    <h3 class="float-left">{{ patient.lastName }}, {{ patient.firstName }}</h3>
    <h3 class="float-right">{{ patient.reference }}</h3>
</div>
<div class="clearfix">
    <span class="float-left">{{ patient.race }}</span>
    <span class="float-left">{{ patient.gender }}</span>
    <span class="float-left">{{ patient.birthDate | date: "dd/MM/yyyy" }}</span>
    <span class="float-right"><a ng-click="edit(patient)" class="button right">Edit</a></span>
</div>
</script>
<script type="text/ng-template" id="patient/patient.form.html">
<h1>Edit patient</h1>
<div class="divider"></div>
<uib-tabset active="active">
  <uib-tab index="0" heading="Patient Details">
      <ng-include src="'patient/patient.details.form.html'"></ng-include>
  </uib-tab>
  <uib-tab index="1" heading="Referral">
      <ng-include src="'referral/referral.form.html'"></ng-include>
  </uib-tab>
  <uib-tab index="2" heading="Admission">
      <ng-include src="'admission/admission.form.html'"></ng-include>
  </uib-tab>
  <uib-tab index="3" heading="Scores">
      <ng-include src="'scores/scores.form.html'"></ng-include>
  </uib-tab>
  <uib-tab index="4" heading="Discharge">
      <ng-include src="'discharge/discharge.form.html'"></ng-include>
  </uib-tab>
</uib-tabset>
</script>
<script type="text/ng-template" id="patient/patient.html">
this is the view page</script>
<script type="text/ng-template" id="patient/patient.list.html">
<table class="table table-hover">
    <h3>{{title}}</h3>
    <thead>
    <tr>
        <th width="250">Last name</th>
        <th width="250">First name</th>
        <th width="80">Age</th>
        <th width="80">Gender</th>
        <th width="220">Reference</th>
        <th width="350">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="patient in patients">
        <td>{{patient.lastName}}</td>
        <td>{{patient.firstName}}</td>
        <td>{{patient.birthDate | ageFilter}}</td>
        <td>{{patient.gender}}</td>
        <td>{{patient.reference}}</td>
        <td> <span ng-repeat="button in btns"><a ng-click="act(button, patient)" class="btn btn-default">{{button}}</a> </span></td>
    </tr>
    </tbody>
</table>
</script>
<script type="text/ng-template" id="referral/delete.me.emergency.score.html">
<!-- score -->
<div class="col-sm-6">
    <ccdb-form-text label="Temperature (&deg;C)" value="patient.scores[0].temperature"
                    ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</div>

<div class="col-sm-6">
    <ccdb-form-text label="Systolic blood pressure (mmHg)" value="patient.scores[0].systolicPressure"
                    ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</div>

<div class="col-sm-6">
    <ccdb-form-text label="Diastolic blood pressure (mmHg)" value="patient.scores[0].diastolicPressure"
                    ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</div>

<div class="col-sm-6">
    <ccdb-form-text label="Heart rate (bpm)" value="patient.scores[0].heartRate"
                    ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</div>

<div class="col-sm-6">
    <ccdb-form-text label="Urine output (mls/hr)" value="patient.scores[0].urineOutput"
                    ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</div>

<div class="col-sm-6">
    <ccdb-form-select label="Eye opening" options="eyeOpening" value="patient.scores[0].eyeOpening"
                      ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-select>
</div>

<div class="col-sm-6">
    <ccdb-form-select label="Verbal response" options="verbalResponse" value="patient.scores[0].verbalResponse"
                      ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-select>
</div>

<div class="col-sm-6">
    <ccdb-form-select label="Motor response" options="motorResponse" value="patient.scores[0].motorResponse"
                      ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-select>
</div>

<div class="col-sm-6">
    <ccdb-form-text label="Glasgow coma scale" value="patient.scores[0].glasgowComaScale"
                    ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</div>

<div class="col-sm-6">
    <ccdb-form-text label="Haematocrit (%)" value="patient.scores[0].haematocrit"
                    ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</div>

<div class="col-sm-6">
    <ccdb-form-text label="WBC (x103/mm3)" value="patient.scores[0].wBC"
                    ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</div>

<div class="col-sm-6">
    <ccdb-form-text label="Sodium (mEq/L)" value="patient.scores[0].sodium"
                    ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</div>

<div class="col-sm-6">
    <ccdb-form-text label="Urea (mmol/l)" value="patient.scores[0].urea"
                    ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</div>

<div class="col-sm-6">
    <ccdb-form-text label="Creatinine (mg/dL)" value="patient.scores[0].creatinine"
                    ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</div>

<div class="col-sm-6">
    <ccdb-form-text label="Albumin (g/l)" value="patient.scores[0].albumin"
                    ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</div>

<div class="col-sm-6">
    <ccdb-form-text label="Bilirubin (umol/l)" value="patient.scores[0].bilirubin"
                    ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</div>
<div class="col-sm-6">
    <ccdb-form-text label="Glucose (mmol/L)" value="patient.scores[0].glucose"
                    ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</div>

<div class="col-sm-6">
    <ccdb-form-text label="FiO2 (%)" value="patient.scores[0].fiO2"
                    ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</div>

<div class="col-sm-6">
    <ccdb-form-text label="PH (%)" value="patient.scores[0].pH"
                    ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</div>

<div class="col-sm-6">
    <ccdb-form-text label="PCO2 (kPa)" value="patient.scores[0].pCO2"
                    ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</div>

<div class="col-sm-6">
    <ccdb-form-text label="pO2 (kPa)" value="patient.scores[0].pO2"
                    ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</div>

<div class="col-sm-6">
    <ccdb-form-text label="Lactate" value="patient.scores[0].lactate"
                    ng-show="patient.referral.emergencyVsElective == 'Emergency'"></ccdb-form-text>
</div>
</script>
<script type="text/ng-template" id="referral/elective/assessment.form.html">
<div class="panel form-panel">
    <div class="row">
        <!-- assessment  (bigger text boxes) -->
        <div class="col-sm-6">
            <ccdb-form-text label="History" value="patient.referral.history"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Examination" value="patient.referral.examination"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Suggested Management and Investigations Requested"
                            value="patient.referral.managementPlan"></ccdb-form-text>
        </div>
        <!-- end of assessment -->
    </div>
</div></script>
<script type="text/ng-template" id="referral/elective/decision.form.html">
<div class="panel form-panel">
    <div class="row">
        <div class="col-sm-6">
            <ccdb-form-select label="SCCM" options="sCCM" value="patient.referral.sCCM"></ccdb-form-select>
        </div>
        <div class="col-sm-6">
            <ccdb-form-select label="Level of care required" options="levelOfCareRequired"
                              value="patient.referral.levelOfCareRequired"></ccdb-form-select>
        </div>
        <div class="col-sm-6">
            <ccdb-form-select label="Decision" options="decision" value="patient.referral.decision"></ccdb-form-select>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Decision reason" value="patient.referral.decisionReason"></ccdb-form-text>
        </div>
    </div>
</div></script>
<script type="text/ng-template" id="referral/elective/outcome.form.html">
<div class="panel form-panel">
    <div class="row">
        <div class="col-sm-6">
            <ccdb-form-date label="Outcome entry time and date"
                            ng-model="patient.referral.outcomeEntryTimeandDate"></ccdb-form-date>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Doctor finalising" value="patient.referral.doctorFinalising"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-select label="Revised SCCCM" options="revisedScccm"
                              value="patient.referral.revisedScccm"></ccdb-form-select>
        </div>
        <div class="col-sm-6">
            <ccdb-form-select label="Any delay on admission" options="yesNo"
                                value="patient.referral.ifAcceptedAnyDelay"></ccdb-form-select>
        </div>
        <div class="col-sm-6">
            <ccdb-form-textarea label="Reason for delay" value="patient.referral.delayReason"></ccdb-form-textarea>
        </div>
        <div class="col-sm-6">
            <ccdb-form-textarea label="If accepted but never admitted"
                                value="patient.referral.ReasonPatientWasNeverAdmitted"></ccdb-form-textarea>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Unit transferred to if transferred"
                            value="patient.referral.unitTransferredToIfTransferred "></ccdb-form-text>
        </div>
        <div class="col-sm-6"><!-- admitted or not admitted -->
            <ccdb-form-select label="Final outcome" options="finalOutcome"
                              value="patient.referral.finalOutcomeNote"></ccdb-form-select>
        </div>
    </div>
</div></script>
<script type="text/ng-template" id="referral/elective/referral.details.form.html">
<div class="panel form-panel">
    <div class="row">
        <div class="col-sm-6"><!-- the time the ICU hears about the patient  -->
            <ccdb-form-date label="Referral date" ng-model="patient.referral.referralDate"></ccdb-form-date>
        </div>

        <div class="col-sm-6">
            <ccdb-form-select label="Patient location" options="patientLocation"
                              value="patient.referral.patientLocation"></ccdb-form-select>
        </div>
        <div class="col-sm-6">
            <ccdb-form-select label="Operative status at time of referral" options="operativeStatusAtTimeOfReferral"
                              value="patient.referral.operativeStatusAtTimeOfReferral"></ccdb-form-select>
        </div>

        <div class="col-sm-6">
            <ccdb-form-text label="Base discipline referring"
                            value="patient.referral.baseDisciplineReferring"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Base discipline consultant"
                            value="patient.referral.baseDisciplineConsultant"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Referring doctor" value="patient.referral.referringDoctor"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Discipline of referring doctor"
                            value="patient.referral.disciplineOfReferringDoctor"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Referring hospital" value="patient.referral.referringHospital"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Diagnosis type" value="patient.referral.diagnosisType"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-select label="Diagnosis" options="diagnosis"
                              value="patient.referral.diagnosis"></ccdb-form-select>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Diagnosis details" value="patient.referral.diagnosisDetails"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-multiselect label="Comorbidities" options="comorbidities"
                                   value="patient.referral.comorbidities"></ccdb-form-multiselect>
        </div>
        <div class="col-sm-6">
            <ccdb-form-textarea label="Planned operation"
                                value="patient.referral.plannedOperation"></ccdb-form-textarea>
        </div>
        <div class="col-sm-6">
            <ccdb-form-textarea label="Planned operation reason"
                                value="patient.referral.reasonForOperation"></ccdb-form-textarea>
        </div>
        <div class="col-sm-6">
            <ccdb-form-date label="Date operation planned"
                            ng-model="patient.referral.dateOperationPlanned"></ccdb-form-date>
        </div>
    </div>
</div></script>
<script type="text/ng-template" id="referral/elective/referral.form.html">
<div class="panel form-panel">
    <div class="row">
        <div class="col-sm-6"><!-- needs to be a multiple -->
            <ccdb-form-select label="Reason of referral to ICU" options="reasonOfReferralToICU"
                              value="patient.referral.reasonOfReferralToICU"></ccdb-form-select>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Number of days in hospital"
                            value="patient.referral.numberOfDaysInHospital"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Is the patient currently ventilated"
                            value="patient.referral.patientCurrentlyVentilated"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Was this patient in ICU in the previous 48 hours"
                            value="patient.referral.wasThisPatientInIcuInThePrevious48Hours"></ccdb-form-text>
        </div>
    </div>
</div></script>
<script type="text/ng-template" id="referral/emergency/assessment.form.html">
<div class="panel form-panel">
    <div class="row">
        <div class="col-sm-6">
            <ccdb-form-text label="History" value="patient.referral.history"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Examination" value="patient.referral.examination"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Management plan" value="patient.referral.managementPlan"></ccdb-form-text>
        </div>
    </div>
</div></script>
<script type="text/ng-template" id="referral/emergency/decision.form.html">
<div class="panel form-panel">
    <div class="row">
        <div class="col-sm-6">
            <ccdb-form-select label="SCCM" options="sCCM" value="patient.referral.sCCM"></ccdb-form-select>
        </div>
        <div class="col-sm-6">
            <ccdb-form-select label="Level of care required" options="levelOfCareRequired"
                              value="patient.referral.levelOfCareRequired"></ccdb-form-select>
        </div>
        <div class="col-sm-6">
            <ccdb-form-select label="Decision" options="decision" value="patient.referral.decision"></ccdb-form-select>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Decision reason" value="patient.referral.decisionReason"></ccdb-form-text>
        </div>
    </div>
</div></script>
<script type="text/ng-template" id="referral/emergency/outcome.form.html">
<div class="panel form-panel">
    <div class="row">
        <div class="col-sm-6">
            <ccdb-form-date label="Outcome entry time and date"
                            ng-model="patient.referral.outcomeEntryTimeandDate"></ccdb-form-date>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Doctor finalising" value="patient.referral.doctorFinalising"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-select label="Revised SCCCM" options="revisedScccm"
                              value="patient.referral.revisedScccm"></ccdb-form-select>
        </div>
        <div class="col-sm-6">
            <ccdb-form-textarea label="Any delay on admission"
                                value="patient.referral.ifAcceptedAnyDelay"></ccdb-form-textarea>
        </div>
        <div class="col-sm-6">
            <ccdb-form-textarea label="Reason for delay" value="patient.referral.delayReason"></ccdb-form-textarea>
        </div>
        <div class="col-sm-6">
            <ccdb-form-textarea label="If accepted but never admitted"
                                value="patient.referral.ReasonPatientWasNeverAdmitted"></ccdb-form-textarea>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Unit transferred to if transferred"
                            value="patient.referral.unitTransferredToIfTransferred "></ccdb-form-text>
        </div>
        <div class="col-sm-6"><!-- admitted or not admitted -->
            <ccdb-form-select label="Final outcome" options="finalOutcome"
                              value="patient.referral.finalOutcomeNote"></ccdb-form-select>
        </div>
    </div>
</div></script>
<script type="text/ng-template" id="referral/emergency/referral.details.form.html">
<div class="panel form-panel">
    <div class="row">
        <div class="col-sm-6"><!-- the time the ICU hears about the patient  -->
            <ccdb-form-date label="Referral date" ng-model="patient.referral.referralDate"></ccdb-form-date>
        </div>

        <div class="col-sm-6">
            <ccdb-form-select label="Patient location" options="patientLocation"
                              value="patient.referral.patientLocation"></ccdb-form-select>
        </div>
        <div class="col-sm-6">
            <ccdb-form-select label="Operative status at time of referral" options="operativeStatusAtTimeOfReferral"
                              value="patient.referral.operativeStatusAtTimeOfReferral"></ccdb-form-select>
        </div>

        <div class="col-sm-6">
            <ccdb-form-text label="Base discipline referring"
                            value="patient.referral.baseDisciplineReferring"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Base discipline consultant"
                            value="patient.referral.baseDisciplineConsultant"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Referring doctor" value="patient.referral.referringDoctor"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Discipline of referring doctor"
                            value="patient.referral.disciplineOfReferringDoctor"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Referring hospital" value="patient.referral.referringHospital"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Diagnosis type" value="patient.referral.diagnosisType"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-select label="Diagnosis" options="diagnosis"
                              value="patient.referral.diagnosis"></ccdb-form-select>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Diagnosis details" value="patient.referral.diagnosisDetails"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-multiselect label="Comorbidities" options="comorbidities"
                                   value="patient.referral.comorbidities"></ccdb-form-multiselect>
        </div>
    </div>
</div></script>
<script type="text/ng-template" id="referral/emergency/referral.form.html">
<div class="panel form-panel">
    <div class="row">
        <div class="col-sm-6">
            <ccdb-form-select label="Reason of referral to ICU" options="reasonOfReferralToICU"
                              value="patient.referral.reasonOfReferralToICU"></ccdb-form-select>
        </div>
        <div class="col-sm-6">
            <ccdb-form-select label="Is the referral for a complication of" options="referralForComplicationOf"
                              value="patient.referral.referralForComplicationOf"></ccdb-form-select>
        </div>

        <div class="col-sm-6">
            <ccdb-form-text label="Number of days in hospital"
                            value="patient.referral.numberOfDaysInHospital"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Is the patient currently ventilated"
                            value="patient.referral.patientCurrentlyVentilated"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="Was this patient in ICU in the previous 48 hours"
                            value="patient.referral.wasThisPatientInIcuInThePrevious48Hours"></ccdb-form-text>
        </div>
    </div>
</div></script>
<script type="text/ng-template" id="referral/emergency/score.form.html">
<ccdb-score-form score="patient.scores[0]" referral="true"></ccdb-score-form></script>
<script type="text/ng-template" id="referral/referral.form.html">
<h1>New {{patient.referral.emergencyVsElective}} Referral:</h1>
<div class="divider"></div>

<form name="patientForm" ng-submit="save()" novalidate>

    <uib-tabset active="active">
        <uib-tab index="0" heading="Patient Details">
            <ng-include src="'referral/referral.patient.details.form.html'"></ng-include>
        </uib-tab>
        <uib-tab index="1" heading="Referral Details">
            <ng-include ng-if="patient.referral.emergencyVsElective=='Emergency'" src="'referral/emergency/referral.details.form.html'"></ng-include>
            <ng-include ng-if="patient.referral.emergencyVsElective=='Elective'" src="'referral/elective/referral.details.form.html'"></ng-include>
        </uib-tab>
        <uib-tab index="2" heading="Referral">
            <ng-include ng-if="patient.referral.emergencyVsElective=='Emergency'" src="'referral/emergency/referral.form.html'"></ng-include>
            <ng-include ng-if="patient.referral.emergencyVsElective=='Elective'" src="'referral/elective/referral.form.html'"></ng-include>
        </uib-tab>
        <uib-tab index="3" heading="Assessment">
            <ng-include ng-if="patient.referral.emergencyVsElective=='Emergency'" src="'referral/emergency/assessment.form.html'"></ng-include>
            <ng-include ng-if="patient.referral.emergencyVsElective=='Elective'" src="'referral/elective/assessment.form.html'"></ng-include>
        </uib-tab>
        <uib-tab index="4" heading="Vitals and Results" ng-if="patient.referral.emergencyVsElective=='Emergency'" ><!-- score -->
            <ng-include src="'referral/emergency/score.form.html'"></ng-include>
        </uib-tab>
        <uib-tab index="5" heading="Decision">
            <ng-include ng-if="patient.referral.emergencyVsElective=='Emergency'" src="'referral/emergency/decision.form.html'"></ng-include>
            <ng-include ng-if="patient.referral.emergencyVsElective=='Elective'" src="'referral/elective/decision.form.html'"></ng-include>
        </uib-tab>
        <uib-tab index="6" heading="Outcome">
            <ng-include ng-if="patient.referral.emergencyVsElective=='Emergency'" src="'referral/emergency/outcome.form.html'"></ng-include>
            <ng-include ng-if="patient.referral.emergencyVsElective=='Elective'" src="'referral/elective/outcome.form.html'"></ng-include>
        </uib-tab>
    </uib-tabset>
    <button type="submit" class="btn btn-primary">Save</button>

</form></script>
<script type="text/ng-template" id="referral/referral.patient.details.form.html">
<div class="panel form-panel">
    <div class="row">
        <div class="col-sm-6">
            <ccdb-form-text label="Last name" value="patient.lastName"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="First name" value="patient.firstName"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-select label="Race" options="races" value="patient.race"></ccdb-form-select>
        </div>
        <div class="col-sm-6">
            <ccdb-form-select label="Gender" options="genders" value="patient.gender"></ccdb-form-select>
        </div>
        <div class="col-sm-6">
            <ccdb-form-date label="Birth date" ng-model="patient.birthDate" ></ccdb-form-date>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="ICU registrar/Doctor" value="patient.referral.icuRegistrar"></ccdb-form-text>
        </div>
        <div class="col-sm-6">
            <ccdb-form-text label="ICU consultant" value="patient.referral.icuConsultant"></ccdb-form-text>
        </div>
        <div class="col-sm-6"><!-- this is the time the data is recorded (don't need to show. just store) -->
            <ccdb-form-date label="Entry time and date" ng-model="patient.referral.entryTimeAndDate"></ccdb-form-date>
        </div>
        <div class="col-sm-6">
            <ccdb-form-date label="Time patient seen by ICU"
                            ng-model="patient.referral.timePatientSeenByICU"></ccdb-form-date>
        </div>
    </div>
    <div class="divider"></div>
</div>
</script>
<script type="text/ng-template" id="reports/reports.html">
<div class="row">
    <div class="col-md-6">
        <h3>Weekly Reports</h3>
    </div>
    <div class="col-md-6">
    <span class="pull-right">
      <ccdb-date-range></ccdb-date-range>
    </span>
    </div>
</div>
<div class="divider"></div>
<div class="panel box">
    <ccdb-patient-count title="Number of Referrals"
                        range-field="referral.referralDate"
                        filter='{"referral.decision": "Cannot make decision now"}'
    ></ccdb-patient-count>
</div>
<div class="panel box">
    <ccdb-patient-count title="Admitted patients"
                        range-field="admission.firstAdmittedDate"
                        filter='{"referral.decision": "Accepted", "discharge.dischargeDate": null}'
    ></ccdb-patient-count>
</div>
</script>
<script type="text/ng-template" id="reset/reset.html">
<div class="container">
  <div class="form-reset">
      <h2 class="form-reset-heading">Reset your password</h2>
      <label for="username" class="sr-only">username</label>
      <input type="username" class="form-control" id="username" placeholder="Username (email address)" ng-model="user.username">
      <div ng-show="message" class="form-reset-message">{{message}}</div>
      <button type="button" ng-hide="message" ng-click="reset()" class="btn btn-lg btn-primary btn-block">Reset</button>
  </div>
</div></script>
<script type="text/ng-template" id="score/score.form.html">
<div class="panel form-panel">
    <form name="patientForm" ng-submit="save()" novalidate>

        <div class="row">
            <div class="col-sm-6">
                <ccdb-form-text label="Temperature (&deg;C)" value="score.temperature"></ccdb-form-text>
                <ccdb-form-text label="Systolic blood pressure (mm Hg)" value="score.systolicPressure"></ccdb-form-text>
                <ccdb-form-text label="Diastolic blood pressure (mm Hg)"
                                value="score.diastolicPressure"></ccdb-form-text>
                <ccdb-form-text label="Heart rate (beats/minute)" value="score.heartRate"></ccdb-form-text>
                <ccdb-form-text label="Saturation" value="score.saturation"
                                ng-if="!referral && !apache"></ccdb-form-text>
                <ccdb-form-text label="Respiratory heart rate (breaths/minute)" value="score.respiratoryRate"
                                ng-if="!referral"></ccdb-form-text>
                <ccdb-form-text label="Urine output (mls/hr)" value="score.urineOutput"
                                ng-if="!admission"></ccdb-form-text>
                <ccdb-form-text label="Glucose (mmol/L)" value="score.glucose"
                                ng-if="!referral && !admission"></ccdb-form-text>
                <ccdb-form-select label="Eye opening" options="eyeOpening" value="score.eyeOpening"></ccdb-form-select>
                <ccdb-form-select label="Verbal response" options="verbalResponse"
                                  value="score.verbalResponse"></ccdb-form-select>
                <ccdb-form-select label="Motor response" options="motorResponse"
                                  value="score.motorResponse"></ccdb-form-select>
                <!-- this one is a calculated, we still want to write it to the database, but would be good to sum the three above automagically -->
                <ccdb-form-text label="Glasgow coma scale" value="score.glasgowcomaScale"></ccdb-form-text>
                <ccdb-form-select label="Sedated" options="yesNo" value="score.sedated"
                                  ng-if="!referral && !apache"></ccdb-form-select>
                <ccdb-form-select label="Airway" options="airway" value="patient.score.airway"
                                  ng-if="!referral && !apache"></ccdb-form-select>
                <ccdb-form-text label="Pupils" value="score.pupils" ng-if="!referral"></ccdb-form-text>
                <ccdb-form-text label="Ventilated" value="score.ventilated" ng-if="!referral"></ccdb-form-text>
                <ccdb-form-text label="Thrombolytic therapy" value="score.thrombolyticTherapy"
                                ng-if="!referral"></ccdb-form-text>
            </div>
            <div class="col-sm-6">
                <ccdb-form-text label="Haematocrit (%)" value="score.haematocrit" ng-if="!admission"></ccdb-form-text>
                <ccdb-form-text label="WBC (x103/mm3)" value="score.wBC" ng-if="!admission"></ccdb-form-text>
                <ccdb-form-text label="Sodium (mEq/L)" value="score.sodium" ng-if="!admission"></ccdb-form-text>
                <ccdb-form-text label="Potassium (mEq/L)" value="score.potassium" ng-if="!referral"></ccdb-form-text>
                <ccdb-form-text label="Corr Calcium (mmol/l)" value="score.corrCalcium"
                                ng-if="!referral"></ccdb-form-text>
                <ccdb-form-text label="Urea (mmol/l)" value="score.urea" ng-if="!admission"></ccdb-form-text>
                <ccdb-form-text label="Creatinine (mg/dL)" value="patient.score" ng-if="!admission"></ccdb-form-text>
                <ccdb-form-text label="Albumin (g/l)" value="score.albumin" ng-if="!admission"></ccdb-form-text>
                <ccdb-form-text label="Bilirubin (umol/l)" value="score.bilirubin" ng-if="!admission"></ccdb-form-text>
                <ccdb-form-text label="Glucose (mmol/L)" value="score.glucose"></ccdb-form-text>
                <ccdb-form-text label="INR" value="score.iNR" ng-if="!referral && !admission"></ccdb-form-text>
                <ccdb-form-text label="FiO2 (%)" value="score.fiO2"></ccdb-form-text>
                <ccdb-form-text label="PH (%)" value="score.pH"></ccdb-form-text>
                <ccdb-form-text label="pO2 (kPa)" value="score.pO2"></ccdb-form-text>
                <ccdb-form-text label="PCO2 (kPa)" value="score.pCO2"></ccdb-form-text>
                <ccdb-form-text label="Lactate" value="score.lactate"></ccdb-form-text>
                <ccdb-form-text label="HCO3 (mEq/L)" value="patient.scores.hCO3" ng-if="!referral"></ccdb-form-text>
                <ccdb-form-text label="Base excess" value="score.baseExcess" ng-if="!referral"></ccdb-form-text>
                <ccdb-form-text label="Bicarbonate" value="score.bicarbonate"
                                ng-if="!referral && !apache"></ccdb-form-text>
                <ccdb-form-text label="Current antibiotic therapy in ward" value="score.currentAntibioticTherapyInWard"
                                ng-if="!referral && !apache"></ccdb-form-text>
                <ccdb-form-text label="Duration of antibiotics" value="score.durationOfAntibiotics"
                                ng-if="!referral && !apache"></ccdb-form-text>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>

    </form>
</div></script>
<script type="text/ng-template" id="score/score.html">
<!-- next we need to create a special layout for side-by-side apache high-low scores -->
high
<ccdb-score-form score="patient.scores[2]" apache="true"></ccdb-score-form>
low
<ccdb-score-form score="patient.scores[3]" apache="true"></ccdb-score-form></script>
<script type="text/ng-template" id="search/search.html">
<h1>Find patient</h1>
<div class="divider"></div>
<div class="panel panel-default">
  <input autofocus type="text" ng-model="query" class="form-control" placeholder="Search by patient detail..."/>
  <ccdb-patient-list title="" buttons="View,Admit,Score,Discharge" query="query"></ccdb-patient-list>
</div>
</script>
<script type="text/ng-template" id="user/user.form.html">
<h1>Edit user: {{user.name}}</h1>
<div class="panel panel-default">
  <form>
      <ccdb-form-text no-suggestions="true" label="Username" value="user.username"></ccdb-form-text>
      <ccdb-form-text no-suggestions="true" label="Name" value="user.name"></ccdb-form-text>
      <ccdb-form-select label="Hospital" options="hospitals" value="user.hospital"></ccdb-form-select>
      <ccdb-form-select label="Role" options="roles" value="user.role"></ccdb-form-select>
      <a ng-click="save(user)" class="btn btn-default">Save</a>
  </form>
</div>
</script>
<script type="text/ng-template" id="user/user.list.html">
<div class="row">
  <div class="col-md-6">
    <h1>Users</h1>
  </div>
  <div class="col-md-6">
    <span class="pull-right">
      <a href="#/editUser/new" class="btn btn-default">New User</a>
    </span>
  </div>
</div>
<div class="panel">
  <table class="table table-hover">
      <thead>
      <tr>
          <th>Name</th>
          <th>Hospital</th>
          <th>Role</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="user in users">
          <td>{{user.name}}</td>
          <td>{{user.hospital}}</td>
          <td>{{user.role}}</td>
          <td><a href="#/editUser/{{user._id}}" class="button radius">Edit</a></td>
      </tr>
      </tbody>
  </table>
</div>
</script>
<script type="text/ng-template" id="utils/date.range.html">
{{dateRangeService.dateRange.startDate | date : 'MMM d'}} - {{dateRangeService.dateRange.endDate | date : 'MMM d, y'}}<span class="noselect left-space"><a ng-click="dateRangeService.previous()" class="btn btn-default noselect">&lt;</a> <a ng-click="dateRangeService.next()" class="btn btn-default noselect">&gt;</a> </span>
</script>
<script type="text/ng-template" id="utils/form/date.html">
<div class="form-group">
    <label>{{ label }}</label>
    <select ng-model="date" ng-change="modelChanged()" ng-options="d as d for d in dates"></select>
    <select ng-model="month" ng-change="modelChanged()" ng-options="m.key as m.value for m in months"></select>
    <select ng-model="year" ng-change="modelChanged()" ng-options="y as y for y in years"></select>

    <a class="btn btn-default noselect" ng-click="modelChanged(true)">now</a>
</div>
</script>
<script type="text/ng-template" id="utils/form/multiselect.html">
<div class="form-group">
    <label>{{ label }}</label>
    <div class="checkbox" ng-repeat="option in options">
        <label >
            <input type="checkbox" checklist-model="value" checklist-value="option"/>{{option}}
        </label>
    </div>
</div>
</script>
<script type="text/ng-template" id="utils/form/select.html">
<div class="form-group">
    <label for="right-label">{{ label }}</label>
    <select id="right-label" class="form-control" ng-model="value" >
    <option ng-repeat="option in options">{{ option }}</option>
    </select>
</div>
</script>
<script type="text/ng-template" id="utils/form/text.html">
<div class="form-group">
    <label for="right-label">{{ label }}</label>
        <input type="text"
               class="form-control"
               id="right-label"
               placeholder="{{ label }}"
               ng-model="value"
               typeahead="item for item in getSuggestions($viewValue) | filter:$viewValue"
               typeahead-loading="loading"
               required
        >
</div>
</script>
<script type="text/ng-template" id="utils/form/textarea.html">
<div class="form-group">
    <label for="right-label">{{ label }}</label>
    <textarea class="form-control" rows="5" cols="30" id="right-label" placeholder="{{ label }}" ng-model="value"></textarea>
</div>
</script>
