body {
    overflow-y: scroll;
    padding-top: 70px;
    color: #333333;
    background-color: #f5f5f5;
}
body h1:first-child {
  margin-top: 5px;
}

.form-group {
    margin-right: 30px;
}

.form-panel {
    padding: 9.5px;
    border-radius: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.panel {
  border-radius: 0;
  border: none;
  padding: 20px;
}
.panel h3:first-child {
  margin-top: 5px;
}
.panel.box {
    display: inline-block;
    width: 100%;
    max-width: 250px;
}
.info-box {
    text-align: center;
}
.red, .red a {
    color: red;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.left-space {
    padding-left: 10px;
}

.loader {
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader-outer {
    position: absolute;
    top: 30%;
    width: 100%;
}

.loader-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.4rem;
    background-color: rgba(228, 228, 228, 0.7);
    text-align: center;
    font: 0/0 a;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading {
    text-align: left;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.form-signin .form-signing-reset-btn {
    padding-right: 0px;
}

.form-reset {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-reset .form-reset-heading{
    text-align: left;
}

.form-reset .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-reset .form-control:focus {
    z-index: 2;
}
.form-reset input[type="username"] {
    margin-bottom: 10px;
}

.form-reset .form-reset-message {
    margin-bottom: 10px;
}

.divider {
  margin-top: 15px;
}

.table > tbody > tr > td{
  vertical-align: middle;
}

.label {
    color: inherit;
}

.nav-tabs {
  border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: none;
}
