* {
    box-sizing: unset !important;
}
.container-fluid .form-print-heading {
    display: block !important;
    font-size: large;
    page-break-before: auto;
    page-break-after: avoid;
}

.form-shield-heading {
    text-align: left;
    display: inline-block;
    margin: 0;
    margin-left: 20px;
}

.form-metadata {
    float: right;
}

.form-metadata .form-patient-reference {
    display: inline-block;
    float: right;
    margin: 0;

}

.form-metadata .form-hospital {
    display: block;
    text-align: right;
    margin: 0;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: visible !important;
}

.container-fluid {
    padding-left: 0;
}

.container-fluid h1 {
    display: none !important;
}

.nav {
    display: none !important;
}

.btn {
    display: none;
}

.tab-content > .tab-pane {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    margin: 0 !important;
    padding: 0 !important;
    page-break-inside:avoid !important;
}

.form-two-column-print {
    column-count: 2;
}

.form-group {
    display: inline-block;
    border-bottom: solid !important;
    border-width: thin !important;
    border-color: #798d8f !important;
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
}

.form-group > label {
    margin-bottom: 0;
}

.form-group, select {
    border: none;
}

.form-control {
    float: right;
    border-style: none;
    padding: 0 0 0 0;
    height: 20px;
}

.from-print-heading {
    display: block !important;
    margin-bottom: 25px;
}

input.form-control {
    width:40%;
}

select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    width:40%;
}

textarea.form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
    min-height: 460px;
    padding-left: 0;
    width: 100%;
}

.form-print-hide {
    display: none;
}

.form-multiselect-label {
    padding-top: 5px;
}

.form-multiselect-options {
    -webkit-column-count: 2;
    column-count: 2;
    vertical-align: top;
    padding-bottom: 10px;
    margin-right: -20%;
}

.form-date {
    width: 40%;
    padding-left: 4px;
    float: right;
}

.form-date > select {
    -webkit-appearance: none;
    -moz-appearance: none;
}
.form-date-month, .form-date-year {
    margin-right: -20px;
}

.form-dateAndTime {
    width: 40%;
    float: right;
}

.form-dateAndTime select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-dateAndTime-label {
    display: none;
}

.form-dateAndTime-time {
    padding-right: 25px;
    margin-bottom: 0;
}

.form-dateAndTime-colon {
    padding-left: 3px;
}

.form-dateAndTime-month, .form-dateAndTime-hour, .form-dateAndTime-minute {
    margin-right: -6px;
}

.form-dateAndTime-day {
    margin-right: 0;
}

.form-dateAndTime-year {
    margin-left: 6px;
}

