<legend>Password Change Form</legend>

<div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password" ng-change="checkPasswords()">
    <label for="password2">Confirm Password</label>
    <input type="password" class="form-control" id="password2" placeholder="Password" ng-model="user.password2" ng-change="checkPasswords()">
</div>

<div ng-show="passwordError">The provided passwords do not match</div>
<div ng-hide="passwordError">The provided passwords match</div>

<button type="button" ng-disabled="passwordError" ng-click="password()" class="btn btn-primary">Submit</button>
